Repository materialsproject/pymatgen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shyuep, @janosh, @mkhorton, @Andrew-S-Rosen, @gmatteo, @JaGeo, @ml-evs

.github/CODEOWNERS:

* @shyuep @janosh @mkhorton
pymatgen/io/ase.py @Andrew-S-Rosen
pymatgen/io/abinit/* @gmatteo
pymatgen/io/lobster/* @JaGeo
pymatgen/ext/* @ml-evs
tests/ext/* @ml-evs

increase support for auto k point generation
  pymatgen/io/vasp/outputs.py
Owners: @shyuep, @janosh, @mkhorton

linting
  pymatgen/io/vasp/outputs.py
Owners: @shyuep, @janosh, @mkhorton

don't depend on tblite above 3.11 since unsupported
  setup.py
Owners: @shyuep, @janosh, @mkhorton

improve TestVasprun.test_standard
  pymatgen/io/vasp/outputs.py
  tests/io/vasp/test_outputs.py
Owners: @shyuep, @janosh, @mkhorton

fix some type
  pymatgen/io/vasp/inputs.py
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

relocate dunder methods to the head
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

fix some type errors
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/inputs.py
Owners: @JaGeo, @shyuep, @janosh, @mkhorton

revert unneeded cast to tuple
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Owners: @shyuep, @janosh, @mkhorton

revert unneeded cast to tuple
  tests/io/vasp/test_sets.py
Owners: @shyuep, @janosh, @mkhorton

revert unneeded cast to tuple
  tests/io/vasp/test_sets.py
Owners: @shyuep, @janosh, @mkhorton

use Union over |
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

remove unnecessary wrapping
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_sets.py
Owners: @shyuep, @janosh, @mkhorton

fix some types
  pymatgen/io/aims/parsers.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/vasp/sets.py
Owners: @shyuep, @janosh, @mkhorton

fix direct float str to int conversion
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

use float for Kpoint
  pymatgen/io/vasp/inputs.py
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

fix type
  pymatgen/io/vasp/sets.py
Owners: @shyuep, @janosh, @mkhorton

increase msg verbosity
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

fix types
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

remove debug print
  tests/io/vasp/test_inputs.py
Owners: @shyuep, @janosh, @mkhorton

add missing types
  pymatgen/io/lobster/outputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
Owners: @JaGeo, @shyuep, @janosh, @mkhorton

handle nparray
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

fix/suppress mypy error
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/vasp/outputs.py
Owners: @shyuep, @janosh, @mkhorton

change kpt weight to float in doc
  pymatgen/io/vasp/inputs.py
Owners: @shyuep, @janosh, @mkhorton

add type for typealias
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

fix typealias import
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

fix case in name
  pymatgen/io/lobster/inputs.py
Owners: @JaGeo

exclude gulp from package
  setup.py
Owners: @shyuep, @janosh, @mkhorton

remove type annotation for types
  pymatgen/util/typing.py
Owners: @shyuep, @janosh, @mkhorton

add unit test for property kpts
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Owners: @shyuep, @janosh, @mkhorton

format doc string Returns: sections
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/hhi.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/interface.py
  pymatgen/core/lattice.py
  pymatgen/core/sites.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/pwmat/inputs.py
  pymatgen/io/pwmat/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/gruneisen.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/coord.py
  pymatgen/util/coord_cython.pyx
  tests/analysis/test_wulff.py
  tests/electronic_structure/test_cohp.py
Owners: @shyuep, @janosh, @mkhorton, @ml-evs, @JaGeo

Need confirm: update GULP url
  pymatgen/command_line/gulp_caller.py
Owners: @shyuep, @janosh, @mkhorton

remove `gulp` and libs
  cmd_line/gulp/Libraries/belashchenko.lib
  cmd_line/gulp/Libraries/bks.lib
  cmd_line/gulp/Libraries/bresme_water.lib
  cmd_line/gulp/Libraries/bush.lib
  cmd_line/gulp/Libraries/carbonate.lib
  cmd_line/gulp/Libraries/catlow.lib
  cmd_line/gulp/Libraries/clayFF.lib
  cmd_line/gulp/Libraries/clerirosato.lib
  cmd_line/gulp/Libraries/dreiding.lib
  cmd_line/gulp/Libraries/dreiding_paper.lib
  cmd_line/gulp/Libraries/edip_marks.lib
  cmd_line/gulp/Libraries/eledata
  cmd_line/gulp/Libraries/ffsioh.lib
  cmd_line/gulp/Libraries/finnissinclair.lib
  cmd_line/gulp/Libraries/garofalini.lib
  cmd_line/gulp/Libraries/glue.lib
  cmd_line/gulp/Libraries/johnson.lib
  cmd_line/gulp/Libraries/kornyshev.lib
  cmd_line/gulp/Libraries/lewis.lib
  cmd_line/gulp/Libraries/meam_1nn.lib
  cmd_line/gulp/Libraries/meidavenport.lib
  cmd_line/gulp/Libraries/mox.lib
  cmd_line/gulp/Libraries/old-clayFF.lib
  cmd_line/gulp/Libraries/reaxff.lib
  cmd_line/gulp/Libraries/reaxff_auoh.lib
  cmd_line/gulp/Libraries/reaxff_ausch.lib
  cmd_line/gulp/Libraries/reaxff_bazro3.lib
  cmd_line/gulp/Libraries/reaxff_feoh.lib
  cmd_line/gulp/Libraries/reaxff_general.lib
  cmd_line/gulp/Libraries/reaxff_oxidative.lib
  cmd_line/gulp/Libraries/reaxff_sicho.lib
  cmd_line/gulp/Libraries/reaxff_sio2.lib
  cmd_line/gulp/Libraries/reaxff_siohna.lib
  cmd_line/gulp/Libraries/reaxff_zno.lib
  cmd_line/gulp/Libraries/streitzmintmire.lib
  cmd_line/gulp/Libraries/suttonchen.lib
  cmd_line/gulp/Libraries/tersoff.lib
  cmd_line/gulp/Libraries/uff.lib
  cmd_line/gulp/Libraries/vashishta.lib
  cmd_line/gulp/Libraries/vbo.lib
Owners: @shyuep, @janosh, @mkhorton

remove gulp test from CI
  .github/workflows/test.yml
Owners: @shyuep, @janosh, @mkhorton

update download url info in error msg
  pymatgen/command_line/gulp_caller.py
Owners: @shyuep, @janosh, @mkhorton

need confirm: add `wheel` to dev dep
  setup.py
Owners: @shyuep, @janosh, @mkhorton

try install BoltzTraP2 with pip
  .github/workflows/test.yml
  setup.py
Owners: @shyuep, @janosh, @mkhorton

add comment
  .github/workflows/test.yml
Owners: @shyuep, @janosh, @mkhorton

try move bolt after numpy to fix win, remove wheel
  .github/workflows/test.yml
Owners: @shyuep, @janosh, @mkhorton

try move boltrap2 to ubuntu only
  .github/workflows/test.yml
Owners: @shyuep, @janosh, @mkhorton

more description more accurate
  .github/workflows/test.yml
Owners: @shyuep, @janosh, @mkhorton
