Repository materialsproject/pymatgen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shyuep, @janosh, @mkhorton, @Andrew-S-Rosen, @gmatteo, @JaGeo, @ml-evs

.github/CODEOWNERS:

* @shyuep @janosh @mkhorton
pymatgen/io/ase.py @Andrew-S-Rosen
pymatgen/io/abinit/* @gmatteo
pymatgen/io/lobster/* @JaGeo
pymatgen/ext/* @ml-evs
tests/ext/* @ml-evs

Convert `kpts` in `Kpoints` to `Sequence[tuple]` and set it as `property` (#3758)
  pymatgen/core/interface.py
  pymatgen/core/lattice.py
  pymatgen/core/trajectory.py
  pymatgen/io/aims/outputs.py
  pymatgen/io/aims/parsers.py
  pymatgen/io/cif.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/res.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/util/typing.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_sets.py
Owners: @shyuep, @janosh, @mkhorton, @JaGeo

remove cmd_line package from find_namespace_packages in setup.py, from vendored files in .gitattributes and from exclude patterns in .pre-commit-config.yaml
  .gitattributes
  .pre-commit-config.yaml
  setup.py
Owners: @shyuep, @janosh, @mkhorton

remove __deepcopy__ from io/cp2k/inputs.py Section and SectionList
  pymatgen/io/cp2k/inputs.py
Owners: @shyuep, @janosh, @mkhorton

imperative form: finds->find, initializes->initialize, ...
  pymatgen/alchemy/materials.py
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/cost.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/interfaces/coherent_interfaces.py
  pymatgen/analysis/interfaces/substrate_analyzer.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/command_line/bader_caller.py
  pymatgen/command_line/chargemol_caller.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/core/bonds.py
  pymatgen/core/lattice.py
  pymatgen/core/operations.py
  pymatgen/core/tensors.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/dos.py
  pymatgen/entries/__init__.py
  pymatgen/entries/computed_entries.py
  pymatgen/entries/correction_calculator.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/symmetry/groups.py
  pymatgen/symmetry/maggroups.py
  pymatgen/symmetry/structure.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/coord.py
Owners: @shyuep, @janosh, @mkhorton, @ml-evs

"""\n\s+E -> """E
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/quasiharmonic.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/io/cif.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/phonopy.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  tests/entries/test_mixing_scheme.py
  tests/io/test_xcrysden.py
Owners: @shyuep, @janosh, @mkhorton

"""\n\s+F -> """F
  dev_scripts/potcar_scrambler.py
  pymatgen/analysis/bond_dissociation.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/chemenv/utils/math_utils.py
  pymatgen/analysis/cost.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/elasticity/strain.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/fragmenter.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/interfaces/substrate_analyzer.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/substitution_probability.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/wulff.py
  pymatgen/core/interface.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/feff/sets.py
  pymatgen/io/icet.py
  pymatgen/io/phonopy.py
  pymatgen/io/qchem/inputs.py
  pymatgen/optimization/neighbors.pyx
  tests/core/test_periodic_table.py
  tests/io/vasp/test_inputs.py
Owners: @shyuep, @janosh, @mkhorton, @gmatteo

deprecate NRANDOM kwarg of coordination_geometry_symmetry_measures_fallback_random
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/core/operations.py
  pymatgen/core/structure.py
  pymatgen/core/tensors.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/settings.py
  tests/analysis/chemenv/coordination_environments/test_coordination_geometry_finder.py
  tests/io/lammps/test_data.py
Owners: @shyuep, @janosh, @mkhorton

fix mypy
  pymatgen/analysis/bond_dissociation.py
Owners: @shyuep, @janosh, @mkhorton

"Class for ..." -> "..."
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/core/lattice.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/lmto.py
  pymatgen/io/openff.py
  pymatgen/io/shengbte.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/vis/plotters.py
Owners: @shyuep, @janosh, @mkhorton

standardize first line class doc strings to imperative style
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/utils/chemenv_config.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/chemenv/utils/graph_utils.py
  pymatgen/analysis/chemenv/utils/math_utils.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/molecule_structure_comparator.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/quasirrho.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/interface.py
  pymatgen/core/spectrum.py
  pymatgen/core/surface.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/entries/computed_entries.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/aims/sets/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/prismatic.py
  pymatgen/io/res.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/zeopp.py
Owners: @shyuep, @janosh, @mkhorton, @gmatteo, @JaGeo

imperative doc strings
  pymatgen/analysis/local_env.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/core/interface.py
  pymatgen/core/periodic_table.py
  pymatgen/core/tensors.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/entries/correction_calculator.py
  pymatgen/ext/cod.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/ext/optimade.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/res.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/symmetry/maggroups.py
  pymatgen/util/coord.py
  pymatgen/util/provenance.py
  pymatgen/util/testing/__init__.py
  tests/analysis/elasticity/test_elastic.py
  tests/io/qchem/test_sets.py
Owners: @shyuep, @janosh, @mkhorton, @ml-evs

imperative doc strings
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/apps/battery/insertion_battery.py
  pymatgen/core/bonds.py
  pymatgen/core/composition.py
  pymatgen/core/lattice.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/transformation_abc.py
Owners: @shyuep, @janosh, @mkhorton

revert np.mean to np.average where passing weight kwarg
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/surface.py
  pymatgen/io/vasp/sets.py
Owners: @shyuep, @janosh, @mkhorton

imperative doc strings
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/alchemy/materials.py
  pymatgen/analysis/bond_dissociation.py
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/diffraction/neutron.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/diffraction/xrd.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/energy_models.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/interfaces/substrate_analyzer.py
  pymatgen/analysis/interfaces/zsl.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/transition_state.py
  pymatgen/core/interface.py
  pymatgen/io/babel.py
  pymatgen/io/cif.py
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/icet.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lmto.py
  pymatgen/io/nwchem.py
  pymatgen/io/packmol.py
  pymatgen/io/pwscf.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/xyz.py
Owners: @shyuep, @janosh, @mkhorton

remove "Returns:" from property doc strings
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/core/tensors.py
  pymatgen/io/adf.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/vasp/outputs.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/symmetry/kpath.py
  pymatgen/transformations/site_transformations.py
Owners: @shyuep, @janosh, @mkhorton, @JaGeo

bug fix: as_dict should not have been property on SeparationPlane and ExplicitPermutationsAlgorithm
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
Owners: @shyuep, @janosh, @mkhorton

format property doc strings with leading line break
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/utils/chemenv_config.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/nmr.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/io/common.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
Owners: @shyuep, @janosh, @mkhorton

remove leading "Get" from property doc strings
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/elasticity/stress.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/nmr.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/wulff.py
  pymatgen/electronic_structure/core.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
Owners: @shyuep, @janosh, @mkhorton

Fix TestCoordinationGeometries using as_dict as property which should have been normal method all along
  tests/analysis/chemenv/coordination_environments/test_coordination_geometries.py
Owners: @shyuep, @janosh, @mkhorton

drop Lobsterin inerheritance from UserDict, use simple dict instead and modify __getitem__ to get the salient __getitem__ behavior from UserDict
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/io/lobster/inputs.py
  tests/alchemy/test_materials.py
  tests/io/lobster/test_inputs.py
  tests/io/test_shengbte.py
  tests/io/vasp/test_outputs.py
Owners: @shyuep, @janosh, @mkhorton, @JaGeo

try DotDict as super class for Lobsterin
  pymatgen/alchemy/transmuters.py
  pymatgen/io/lobster/inputs.py
Owners: @shyuep, @janosh, @mkhorton, @JaGeo

override Lobsterin.__contains__ to fix on py312
  pymatgen/io/lobster/inputs.py
  tests/io/lobster/test_inputs.py
Owners: @JaGeo, @shyuep, @janosh, @mkhorton

Officially support Python 3.12 and test in CI (#3685)
  .github/workflows/release.yml
  .github/workflows/test.yml
  dev_scripts/chemenv/get_plane_permutations_optimized.py
  dev_scripts/chemenv/plane_multiplicity.py
  pymatgen/alchemy/materials.py
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/outputs.py
  setup.py
  tests/alchemy/test_materials.py
  tests/io/lobster/test_inputs.py
  tests/io/test_shengbte.py
  tests/io/vasp/test_outputs.py
Owners: @shyuep, @janosh, @mkhorton, @JaGeo

format "Returns:" doc strings for dicts
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/wulff.py
  pymatgen/core/composition.py
  pymatgen/core/ion.py
  pymatgen/core/periodic_table.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/io/lammps/utils.py
  pymatgen/io/nwchem.py
  pymatgen/io/vasp/outputs.py
  tests/core/test_lattice.py
Owners: @shyuep, @janosh, @mkhorton

remove debug tag
  pymatgen/core/surface.py
Owners: @shyuep, @janosh, @mkhorton

format doc strings
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/cost.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/core/bonds.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/dos.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/icet.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/utils.py
  pymatgen/io/pwmat/inputs.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/util/string.py
Owners: @shyuep, @janosh, @mkhorton

homogenize return type of Lattice.get_points_in_sphere to always be np.arrays
  pymatgen/core/lattice.py
Owners: @shyuep, @janosh, @mkhorton

test return type is always tuple and 4 * np.array if zip_results=False
  tests/core/test_lattice.py
Owners: @shyuep, @janosh, @mkhorton

Homogenize return type of `Lattice.get_points_in_sphere` to always be `np.array`(s) (#3797)
  pymatgen/core/lattice.py
  tests/core/test_lattice.py
Owners: @shyuep, @janosh, @mkhorton

fix BSPlotterProjected error message on band struct without projections
  pymatgen/apps/borg/queen.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/io/adf.py
  pymatgen/transformations/site_transformations.py
  tests/electronic_structure/test_plotter.py
Owners: @shyuep, @janosh, @mkhorton

fix BSPlotterProjected.get_projected_plots_dots (only partially i think)
  pymatgen/electronic_structure/plotter.py
  tests/electronic_structure/test_plotter.py
Owners: @shyuep, @janosh, @mkhorton

rename single-letter variables for clarity
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/phonon/plotter.py
  pymatgen/symmetry/kpath.py
Owners: @shyuep, @janosh, @mkhorton

v2024.5.1
  docs/CHANGES.md
  setup.py
Owners: @shyuep, @janosh, @mkhorton

tweak docstring and type
  pymatgen/electronic_structure/plotter.py
Owners: @shyuep, @janosh, @mkhorton

revert duplicate b -> band_idx rename
  pymatgen/electronic_structure/plotter.py
Owners: @shyuep, @janosh, @mkhorton

more docstring tweaks
  pymatgen/electronic_structure/plotter.py
Owners: @shyuep, @janosh, @mkhorton

Make BeautifulSoup optional (#3774)
  dev_scripts/update_pt_data.py
  pymatgen/io/vasp/help.py
  requirements-optional.txt
  requirements.txt
Owners: @shyuep, @janosh, @mkhorton

more docstring tweaks
  pymatgen/electronic_structure/plotter.py
Owners: @shyuep, @janosh, @mkhorton
