Repository materialsproject/pymatgen, pull requests merged in 2023-10, with the labels that each got.

#3369 Fix undiscovered tests
  .pre-commit-config.yaml
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/apps/battery/insertion_battery.py
  pymatgen/io/abinit/__init__.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/exciting/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  tests/analysis/diffraction/test_tem.py
  tests/analysis/test_local_env.py
  tests/analysis/test_nmr.py
  tests/analysis/test_surface_analysis.py
  tests/analysis/test_transition_state.py
  tests/core/test_surface.py
  tests/ext/test_matproj.py
  tests/files/.pytest-split-durations
  tests/files/site_symmetries/point_ops.json.gz
  tests/files/site_symmetries/point_ops.pkl
  tests/files/site_symmetries/shared_ops.json.gz
  tests/files/site_symmetries/shared_ops.pkl
  tests/files/surface_tests/cs_entries_o_ads.json
  tests/files/surface_tests/cs_entries_slabs.json
  tests/io/abinit/test_netcdf.py
  tests/io/feff/test_sets.py
  tests/io/test_core.py
  tests/io/vasp/test_inputs.py
  tests/symmetry/test_site_symmetries.py
Labels: tests, housekeeping, breaking

#3370 Update POTCAR summary stats to include 6.4 POTCARs and add `dev_script` utils for future updates
  dev_scripts/potcar_scrambler.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/potcar_summary_stats.json.gz
  tests/files/fake_potcar_library/POTPAW_PBE_54/POTCAR.Al.gz
  tests/files/fake_potcar_library/POTPAW_PBE_54/POTCAR.Fe_pv.gz
  tests/files/fake_potcar_library/POTPAW_PBE_54/POTCAR.Si.gz
  tests/files/fake_potcar_library/POT_LDA_PAW_64/POTCAR.Al.gz
  tests/files/fake_potcar_library/POT_LDA_PAW_64/POTCAR.Fe_pv.gz
  tests/files/fake_potcar_library/POT_LDA_PAW_64/POTCAR.Si.gz
  tests/io/vasp/test_inputs.py
Labels: enhancement, io, vasp

#3372 Fix missing `pymatgen/io/vasp/potcar_summary_stats.json.gz` in `setup.package_data`
  .pre-commit-config.yaml
  CHANGES.md
  docs/CHANGES.md
  setup.py
  tasks.py
Labels: fix, pkg

#2878 New class to handle `NcICOBILIST.lobster` files
  pymatgen/io/lobster/__init__.py
  pymatgen/io/lobster/outputs.py
  tests/files/cohp/NcICOBILIST.lobster
  tests/files/cohp/NcICOBILIST.lobster.gz
  tests/files/cohp/NcICOBILIST.lobster.nospin
  tests/files/cohp/NcICOBILIST.lobster.nospin.withoutorbitals
  tests/files/cohp/NcICOBILIST.lobster.withoutorbitals
  tests/io/lobster/test_inputs.py
Labels: enhancement, io, lobster

#3375 `release.yml` add option to publish to TestPyPI
  .github/workflows/release.yml
  pymatgen/alchemy/filters.py
  pymatgen/core/structure.py
  pymatgen/symmetry/analyzer.py
  tests/test_pkg.py
Labels: tests, fix, ci

#3376 Add `inplace: bool=True` arg to `Structure.apply_strain()`
  .github/workflows/release.yml
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: enhancement, core

#3381 Update `incar_parameters.json` to allow `ISIF=8`
  pymatgen/io/vasp/incar_parameters.json
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: tests, io, vasp

#3383 Fix wrong unit=eV in `get_band_(skewness|kurtosis)` doc string
  pymatgen/electronic_structure/dos.py
  tests/electronic_structure/test_dos.py
  tests/files/.pytest-split-durations
Labels: fix, docs, electronic structure

#3384 Add `Structure.to_(conventional|primitive|cell)` methods
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/core/structure.py
  tests/core/test_structure.py
  tests/symmetry/test_analyzer.py
Labels: enhancement, api, core

#3386 Breaking: snake_case `FiestaInput` keywords and class attributes
  pymatgen/io/fiesta.py
  tests/analysis/diffraction/test_tem.py
  tests/io/test_fiesta.py
Labels: io, breaking, api

#3387 Add `docs/fetch_pmg_contributors.py` script
  .gitignore
  docs/2023-10-07-top-contributors.csv
  docs/fetch_pmg_contributors.py
Labels: docs

#3388 Remove deprecated module `pymatgen/util/convergence.py`
  docs/addons.md
  docs/fetch_pmg_contributors.py
  pymatgen/util/convergence.py
  tests/util/test_convergence.py
Labels: housekeeping, deprecation

#3389 Add `SiteCollection.to_ase_atoms()`
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: enhancement, io, ase

#3390 Remove `pylint: disable` comments
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/chemenv/utils/math_utils.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/functional_groups.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/quasiharmonic.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/wulff.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/apps/battery/insertion_battery.py
  pymatgen/command_line/critic2_caller.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/core/__init__.py
  pymatgen/core/lattice.py
  pymatgen/core/molecular_orbitals.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/tensors.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/core.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/computed_entries.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/fiesta.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/generators.py
  pymatgen/io/lammps/sets.py
  pymatgen/io/lmto.py
  pymatgen/io/nwchem.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/plotter.py
  pymatgen/symmetry/site_symmetries.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/coord.py
  pymatgen/util/num.py
  pymatgen/util/plotting.py
  tasks.py
  tests/analysis/test_surface_analysis.py
  tests/core/test_composition.py
Labels: qa, housekeeping

#3350 Ion: default hydrates=False in reduced_formula
  pymatgen/core/ion.py
  tests/core/test_ion.py
Labels: breaking, core

#3393 Add type annotations to phonon
  pymatgen/core/operations.py
  pymatgen/io/core.py
  pymatgen/io/lammps/inputs.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/gruneisen.py
  pymatgen/phonon/ir_spectra.py
  pymatgen/phonon/plotter.py
  pymatgen/phonon/thermal_displacements.py
  pymatgen/util/coord.py
  pymatgen/util/plotting.py
Labels: types

#3395 Add `test_potcar_summary_stats()`
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: tests, vasp

#3394 Fix `ruff` `N806`
  .github/release.yml
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/core/periodic_table.py
  pymatgen/electronic_structure/cohp.py
  tests/electronic_structure/test_dos.py
  tests/io/lobster/test_inputs.py
  tests/io/qchem/test_sets.py
  tests/io/qchem/test_utils.py
Labels: housekeeping

#3392 Further updating POTCAR validation / identification
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/potcar_summary_stats.json.gz
  tests/io/vasp/test_inputs.py
Labels: io, fix, vasp

#3396 Mirror atomate2 fix and improve `MPScanRelaxSet.test_kspacing` edge case coverage
  pymatgen/io/vasp/sets.py
  tests/io/vasp/test_sets.py
Labels: tests, io, vasp

#3399 Add `mode: Literal["w", "a", "wt", "at"] = "w"` keyword to `CifWriter.write_file()`
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/io/cif.py
  pymatgen/io/feff/sets.py
  tests/files/.pytest-split-durations
  tests/io/test_atat.py
  tests/io/test_cif.py
Labels: enhancement, io, cif

#3400 `MatPESStaticSet.yaml` set `LMAXMIX: 6`
  pymatgen/io/vasp/MatPESStaticSet.yaml
  tests/io/vasp/test_sets.py
Labels: io, fix, vasp

#3401 Fix type annotations in phonon/ and lammps/
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lammps/outputs.py
  pymatgen/io/lammps/sets.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/ir_spectra.py
  pymatgen/phonon/thermal_displacements.py
Labels: compatability, fix

#3403 Fix `OBAlign(includeH=False, symmetry=False)` can't take keywords
  .github/workflows/lint.yml
  pymatgen/analysis/molecule_matcher.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/io/babel.py
  pymatgen/io/lammps/utils.py
Labels: fix, molecules

#3361 Add `LobsterMatrices` parser to `lobster.io.outputs`
  pymatgen/io/lobster/__init__.py
  pymatgen/io/lobster/outputs.py
  tests/files/.pytest-split-durations
  tests/files/cohp/C_transferMatrices.lobster.gz
  tests/files/cohp/Na_hamiltonMatrices.lobster.gz
  tests/files/cohp/Si_coefficientMatricesLSO1.lobster.gz
  tests/files/cohp/Si_overlapMatrices.lobster.gz
  tests/files/cohp/hamiltonMatrices.lobster
  tests/io/lobster/test_inputs.py
  tests/io/lobster/test_lobsterenv.py
  tests/io/test_lmto.py
  tests/io/test_shengbte.py
Labels: enhancement, io, lobster

#3407 Fix `LobsterMatrices` calculated incorrectly
  pymatgen/io/lobster/outputs.py
  tests/io/lobster/test_inputs.py
Labels: io, fix, lobster

#3406 Rename `Poscar.from_file()` `check_for_POTCAR` to `check_for_potcar`
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: housekeeping, api, deprecation

#3417 Fix `test_relax_chgnet`
  .gitignore
  .pre-commit-config.yaml
  docs/fetch_pmg_contributors.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/wulff.py
  pymatgen/command_line/chargemol_caller.py
  pymatgen/core/__init__.py
  pymatgen/core/lattice.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/trajectory.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/dos.py
  pymatgen/io/cif.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/generators.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/phonon/gruneisen.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/groups.py
  pymatgen/symmetry/settings.py
  tests/analysis/chemenv/coordination_environments/test_voronoi.py
  tests/analysis/test_surface_analysis.py
  tests/core/test_sites.py
  tests/core/test_structure.py
  tests/core/test_surface.py
  tests/files/.pytest-split-durations
  tests/util/test_coord.py
Labels: tests, fix, docs, ml

#3420 Drop `black` for `ruff format`
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/diffraction/xrd.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/interfaces/coherent_interfaces.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/apps/battery/battery_abc.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/command_line/vampire_caller.py
  pymatgen/core/composition.py
  pymatgen/core/periodic_table.py
  pymatgen/core/structure.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/lammps/data.py
  pymatgen/io/phonopy.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/qchem/sets.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/phonon/dos.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/advanced_transformations.py
  pyproject.toml
  setup.py
  tasks.py
  tests/analysis/test_interface_reactions.py
  tests/core/test_composition.py
  tests/core/test_sites.py
  tests/core/test_tensors.py
  tests/entries/test_mixing_scheme.py
  tests/io/vasp/test_outputs.py
Labels: qa, housekeeping, ci

#3423 Propagate site labels in `SymmetrizedStructure()`
  pymatgen/symmetry/structure.py
  tests/io/test_cif.py
Labels: enhancement, symmetry

#3427 Breaking: return sum of `Species` with matching `Element` in `Composition.__getitem__`
  .pre-commit-config.yaml
  pymatgen/core/composition.py
  tests/core/test_composition.py
  tests/core/test_sites.py
  tests/entries/test_compatibility.py
  tests/io/exciting/test_inputs.py
  tests/transformations/test_standard_transformations.py
Labels: fix, breaking, core, mixing-schemes

#3429 Make `from_(str|file)` `(static->class)methods`
  dev_scripts/potcar_scrambler.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/core/periodic_table.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/io/adf.py
  pymatgen/io/babel.py
  pymatgen/io/cif.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cssr.py
  pymatgen/io/exciting/inputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/pwscf.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/wannier90.py
  pymatgen/io/xr.py
  pymatgen/io/xyz.py
  pymatgen/io/zeopp.py
  pymatgen/phonon/thermal_displacements.py
  pymatgen/transformations/standard_transformations.py
  tests/io/test_adf.py
Labels: qa

#3430 Update inputs.py
  pymatgen/io/vasp/inputs.py
Labels: io, fix, vasp
