Repository materialsproject/pymatgen, pull requests merged in 2023-08, with the labels that each got.

#3197 Improve `Structure` tests
  pymatgen/analysis/local_env.py
  pymatgen/core/structure.py
  pymatgen/core/tests/test_structure.py
  pymatgen/transformations/standard_transformations.py
Labels: enhancement, tests, core

#3206 Test `class XYZ` edge cases
  pymatgen/core/structure.py
  pymatgen/io/xyz.py
  tests/io/test_xyz.py
Labels: tests, io

#3207 Fix `EnergyAdjustment.__repr__`
  pymatgen/entries/computed_entries.py
  tests/entries/test_computed_entries.py
Labels: tests, fix, mixing-schemes

#3210 Fix codecov
  .github/workflows/test.yml
  docs/index.md
  docs/team.md
  pymatgen/core/molecular_orbitals.py
  pymatgen/io/abinit/abiobjects.py
Labels: fix, docs, DX

#3211 Update `pytest-split` durations
  .gitattributes
  .github/workflows/test.yml
  README.md
  docs/assets/pymatgen-white.svg
  docs/team.md
  tests/entries/test_entry_tools.py
  tests/files/.pytest-split-durations
  tests/io/abinit/test_inputs.py
Labels: tests

#3214 Fix GitHub language statistics after test files migration
  .gitattributes
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/reaction_calculator.py
  tests/analysis/test_graphs.py
Labels: tests, docs

#3218 Fix `automatic_density_by_lengths` and add tests for it
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: io, fix, vasp

#3219 Prefer `len(structure)` over `structure.num_sites`
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/dopant_predictor.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/entries/computed_entries.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/adf.py
  pymatgen/io/common.py
  pymatgen/io/cp2k/sets.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/shengbte.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/gruneisen.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/vis/structure_chemview.py
  tests/analysis/gb/test_grain.py
  tests/analysis/test_dimensionality.py
  tests/analysis/test_local_env.py
  tests/command_line/test_mcsqs_caller.py
  tests/io/test_adf.py
  tests/io/test_phonopy.py
  tests/transformations/test_advanced_transformations.py
  tests/transformations/test_site_transformations.py
  tests/transformations/test_standard_transformations.py
Labels: housekeeping

#3222 Add `PhaseDiagram` method `get_reference_energy`
  pymatgen/analysis/phase_diagram.py
  tests/analysis/test_phase_diagram.py
Labels: enhancement, tests, analysis

#3221 Fix isomorphic for molecular graphs
  pymatgen/analysis/graphs.py
  tests/analysis/test_graphs.py
Labels: fix, analysis, molecules

#3223 Add `Structure.elements` property
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: enhancement, tests, core

#3224 Add keyword `in_place: bool = True` to `SiteCollection.replace_species`
  pymatgen/core/structure.py
  pyproject.toml
  tests/core/test_structure.py
Labels: enhancement, core

#3225 list offending elements in `BVAnalyzer.get_valences` error message
  pymatgen/analysis/bond_valence.py
  tests/analysis/test_bond_valence.py
  tests/files/.pytest-split-durations
Labels: analysis, UX

#3226 Add `Entry.elements` property
  pymatgen/alchemy/filters.py
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/cost.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/apps/battery/battery_abc.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/apps/battery/insertion_battery.py
  pymatgen/core/composition.py
  pymatgen/core/interface.py
  pymatgen/core/structure.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/__init__.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/entry_tools.py
  pymatgen/ext/matproj.py
  pymatgen/io/shengbte.py
  pymatgen/phonon/plotter.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/vis/structure_vtk.py
  tests/alchemy/test_transmuters.py
  tests/analysis/test_chempot_diagram.py
  tests/analysis/test_phase_diagram.py
  tests/entries/__init__.py
  tests/ext/test_matproj.py
  tests/files/.pytest-split-durations
Labels: enhancement, UX

#3232 Fix `ruff` PYI041 and ignore PYI024
  pymatgen/analysis/interfaces/coherent_interfaces.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/command_line/bader_caller.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/core/composition.py
  pymatgen/core/trajectory.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cp2k/sets.py
  pymatgen/io/cp2k/utils.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/transformations/standard_transformations.py
  pyproject.toml
  tests/command_line/test_bader_caller.py
Labels: housekeeping, ci

#3231 Deprecate `get_string()` methods in favor of `get_str()`
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lmto.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  tests/io/cp2k/test_inputs.py
  tests/io/feff/test_inputs.py
  tests/io/lammps/test_data.py
  tests/io/lammps/test_inputs.py
  tests/io/test_core.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
Labels: fix, api, deprecation

#3236 `Structure/Molecule.to()` now always return same string written to file
  pymatgen/core/structure.py
  pymatgen/io/xyz.py
  pymatgen/util/convergence.py
  tests/analysis/test_reaction_calculator.py
  tests/core/test_structure.py
  tests/io/qchem/test_utils.py
Labels: tests, api, core

#3239 Add `Lattice` property `params_dict`
  pymatgen/core/lattice.py
  pymatgen/io/lammps/data.py
  tests/core/test_lattice.py
Labels: enhancement, UX

#3242 More concise `test_from_boundary_distance`
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  tests/io/vasp/test_sets.py
  tests/transformations/test_standard_transformations.py
Labels: tests

#3243 Breaking: remove deprecated keyword `properties` from `Species`
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/apps/battery/analyzer.py
  pymatgen/core/periodic_table.py
  pymatgen/core/structure.py
  pymatgen/io/vasp/outputs.py
  pymatgen/transformations/advanced_transformations.py
  tests/alchemy/test_filters.py
  tests/analysis/chemenv/coordination_environments/test_structure_environments.py
  tests/analysis/magnetism/test_analyzer.py
  tests/analysis/test_bond_valence.py
  tests/analysis/test_energy_models.py
  tests/core/test_periodic_table.py
  tests/core/test_structure.py
  tests/io/vasp/test_sets.py
Labels: breaking, api, core

#3250 Fix `Vasprun.converged_electronic` check if `ALGO=CHI` in `INCAR`
  pymatgen/io/vasp/outputs.py
Labels: io, fix, vasp

#3237 Breaking: Have plot methods return `plt.Axes` object, not `matplotlib` module
  .pre-commit-config.yaml
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/diffraction/core.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/transition_state.py
  pymatgen/apps/battery/plotter.py
  pymatgen/cli/feff_plot_cross_section.py
  pymatgen/cli/pmg_plot.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/phonon/ir_spectra.py
  pymatgen/phonon/plotter.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/util/plotting.py
  pymatgen/vis/plotters.py
  tests/analysis/chemenv/connectivity/test_connected_components.py
  tests/analysis/chemenv/coordination_environments/test_coordination_geometries.py
  tests/analysis/chemenv/coordination_environments/test_structure_environments.py
  tests/analysis/test_phase_diagram.py
  tests/analysis/test_pourbaix_diagram.py
  tests/core/test_lattice.py
  tests/electronic_structure/test_cohp.py
  tests/electronic_structure/test_plotter.py
  tests/io/feff/test_sets.py
  tests/io/lobster/test_lobsterenv.py
  tests/io/test_xcrysden.py
  tests/io/vasp/test_inputs.py
  tests/phonon/test_gruneisen.py
  tests/phonon/test_plotter.py
  tests/vis/test_plotters.py
Labels: data viz, breaking, api, UX

#3146 read `mag` from OSZICAR
  pymatgen/io/vasp/outputs.py
  tests/io/vasp/test_outputs.py
Labels: enhancement, needs testing, io, vasp

#2028 Quasi-RRHO Thermochemistry Analysis Module
  pymatgen/analysis/quasirrho.py
  tests/analysis/test_quasirrho.py
  tests/files/molecules/co2.log.gz
Labels: enhancement, analysis, molecules

#2836 Add keyword `check_occu: bool = True` to `CifParser.get_structures()`
  pymatgen/apps/battery/plotter.py
  pymatgen/io/cif.py
  tests/io/test_cif.py
Labels: enhancement, io

#3263 Cancel concurrent CI runs to save budget
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/compatibility.md
  docs/index.md
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/core/composition.py
  pymatgen/core/lattice.py
  pymatgen/core/periodic_table.py
  pymatgen/core/tensors.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/adf.py
  pymatgen/io/lammps/data.py
  pymatgen/io/nwchem.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/string.py
  tests/io/qchem/test_utils.py
Labels: qa, ci

#3266 Fix `TestMPScanStaticSet.test_as_from_dict()`
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/elasticity/strain.py
  pymatgen/electronic_structure/bandstructure.py
  tests/core/test_lattice.py
  tests/core/test_surface.py
  tests/files/.pytest-split-durations
  tests/io/exciting/test_inputs.py
  tests/io/vasp/test_sets.py
Labels: tests, io, fix, vasp

#3268 Fix `TestMPStaticSet` using `MPRelaxSet` in `test_user_incar_kspacing` and `test_kspacing_override`
  pymatgen/io/vasp/inputs.py
  tests/core/test_surface.py
  tests/io/vasp/test_sets.py
Labels: tests, io, fix, vasp

#3269 Fix `nelectrons` not updating when replacing species in `Molecule`
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: fix, core, molecules

#3272 Fix `CifParser.get_structures(check_occu=False)`
  pymatgen/core/structure.py
  pymatgen/io/cif.py
  tests/io/test_cif.py
Labels: io, fix

#3273 Add `PotcarSingle.__repr__`
  .pre-commit-config.yaml
  dev_scripts/chemenv/get_plane_permutations_optimized.py
  pymatgen/analysis/bond_dissociation.py
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/utils/math_utils.py
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/analysis/solar/slme.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/analysis/topological/spillage.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/fiesta.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/nwchem.py
  pymatgen/io/vasp/inputs.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/symmetry/kpath.py
  pymatgen/util/provenance.py
  tasks.py
  tests/analysis/chemenv/connectivity/test_connected_components.py
  tests/core/test_lattice.py
  tests/core/test_trajectory.py
  tests/electronic_structure/test_boltztrap.py
  tests/io/lobster/test_lobsterenv.py
  tests/io/qchem/test_outputs.py
  tests/io/vasp/test_inputs.py
  tests/transformations/test_advanced_transformations.py
Labels: enhancement, io, vasp, UX

#3274 `__str__` to `__repr__`
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/core/libxcfunc.py
  pymatgen/core/periodic_table.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/entries/computed_entries.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/wannier90.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/transformations/site_transformations.py
  pymatgen/transformations/standard_transformations.py
  tests/apps/battery/test_conversion_battery.py
  tests/core/test_libxcfunc.py
  tests/entries/test_computed_entries.py
  tests/io/vasp/test_sets.py
Labels: housekeeping, UX

#3254 Add VASP input set `MatPESStaticSet`
  pymatgen/io/vasp/MatPESStaticSet.yaml
  pymatgen/io/vasp/PBE54Base.yaml
  pymatgen/io/vasp/sets.py
  tests/io/vasp/test_sets.py
Labels: enhancement, io, vasp

#3283 Breaking: bump minimum Python version to 3.9
  .github/workflows/release.yml
  .github/workflows/test.yml
  CONTRIBUTING.md
  README.md
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/interfaces/coherent_interfaces.py
  pymatgen/analysis/interfaces/zsl.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/apps/battery/insertion_battery.py
  pymatgen/core/composition.py
  pymatgen/core/lattice.py
  pymatgen/core/structure.py
  pymatgen/core/tensors.py
  pymatgen/core/trajectory.py
  pymatgen/electronic_structure/dos.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/entry_tools.py
  pymatgen/ext/matproj.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/adf.py
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/wannier90.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/maggroups.py
  pymatgen/symmetry/structure.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/provenance.py
  pymatgen/util/typing.py
  pymatgen/vis/structure_vtk.py
  pyproject.toml
  setup.py
  tests/util/test_typing.py
Labels: breaking, pkg

#3270 Breaking: Update `AseAtomsAdaptor` to handle `Structure.properties`/`Molecule.properties`
  pymatgen/core/structure.py
  pymatgen/io/ase.py
  tests/core/test_structure.py
  tests/io/test_ase.py
Labels: enhancement, breaking, ase

#3286 `np.(arange->linspace)` in `io/vasp/optics.py` `get_delta`, `get_setp` and `epsilon_imag`
  pymatgen/io/vasp/optics.py
Labels: io, fix, vasp
