Repository materialsproject/pymatgen, pull requests merged in 2023-07, with the labels that each got.

#3122 `SpaceGroup.__repr__`
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pymatgen/analysis/elasticity/tests/test_elastic.py
  pymatgen/analysis/tests/test_surface_analysis.py
  pymatgen/apps/borg/tests/test_hive.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/command_line/tests/test_enumlib_caller.py
  pymatgen/core/structure.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/symmetry/groups.py
  pymatgen/symmetry/tests/test_groups.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/util/tests/test_graph_hashing.py
  setup.py
Labels: enhancement, tests, UX

#3123 Deprecate `pymatgen.util.convergence`
  dev_scripts/update_pt_data.py
  pymatgen/alchemy/filters.py
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/bond_valence.py
  pymatgen/transformations/standard_transformations.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/transformations/tests/test_standard_transformations.py
  pymatgen/util/convergence.py
  pymatgen/util/coord.py
  pymatgen/util/due.py
  pymatgen/util/num.py
  pymatgen/util/plotting.py
  pymatgen/util/provenance.py
  pymatgen/util/string.py
  pymatgen/vis/structure_chemview.py
  pymatgen/vis/structure_vtk.py
  pyproject.toml
Labels: api, pkg, deprecation

#3125 Migrate from `warnings.catch_warnings(record=True)` to `pytest.warns()`
  pymatgen/alchemy/tests/test_materials.py
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/elasticity/tests/test_elastic.py
  pymatgen/analysis/elasticity/tests/test_strain.py
  pymatgen/analysis/elasticity/tests/test_stress.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/solar/slme.py
  pymatgen/analysis/tests/test_fragmenter.py
  pymatgen/analysis/tests/test_interface_reactions.py
  pymatgen/analysis/tests/test_structure_matcher.py
  pymatgen/analysis/tests/test_xps.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/analysis/xas/tests/test_spectrum.py
  pymatgen/apps/borg/hive.py
  pymatgen/cli/pmg_plot.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/core/periodic_table.py
  pymatgen/core/tests/test_composition.py
  pymatgen/core/tests/test_periodic_table.py
  pymatgen/core/tests/test_tensors.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/dos.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/electronic_structure/tests/test_boltztrap.py
  pymatgen/electronic_structure/tests/test_boltztrap2.py
  pymatgen/electronic_structure/tests/test_cohp.py
  pymatgen/electronic_structure/tests/test_core.py
  pymatgen/electronic_structure/tests/test_plotter.py
  pymatgen/entries/correction_calculator.py
  pymatgen/entries/tests/test_computed_entries.py
  pymatgen/ext/tests/test_matproj.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/cp2k/tests/test_inputs.py
  pymatgen/io/cp2k/tests/test_outputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/lobster/tests/test_lobster.py
  pymatgen/io/qchem/tests/test_outputs.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/tests/test_core.py
  pymatgen/io/tests/test_gaussian.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/symmetry/tests/test_analyzer.py
Labels: tests, qa

#3127 Fix for missing lattice matches in ZSLGenerator
  pymatgen/analysis/interfaces/tests/test_substrate_analyzer.py
  pymatgen/analysis/interfaces/tests/test_zsl.py
  pymatgen/analysis/interfaces/zsl.py
Labels: fix, analysis, surfaces

#3129 Bump `ruff` + fix `PERF402` violations
  dev_scripts/chemenv/explicit_permutations.py
  pymatgen/alchemy/materials.py
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/chemenv/connectivity/environment_nodes.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_structure_environments.py
  pymatgen/analysis/chemenv/utils/graph_utils.py
  pymatgen/analysis/chemenv/utils/tests/test_graph_utils.py
  pymatgen/analysis/fragmenter.py
  pymatgen/analysis/interfaces/tests/test_substrate_analyzer.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/analysis/tests/test_graphs.py
  pymatgen/analysis/tests/test_structure_matcher.py
  pymatgen/analysis/tests/test_xps.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/cli/pmg_plot.py
  pymatgen/core/__init__.py
  pymatgen/core/ion.py
  pymatgen/core/lattice.py
  pymatgen/core/operations.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/structure.py
  pymatgen/core/tensors.py
  pymatgen/core/tests/test_structure.py
  pymatgen/core/xcfunc.py
  pymatgen/electronic_structure/core.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/electronic_structure/tests/test_plotter.py
  pymatgen/entries/__init__.py
  pymatgen/entries/tests/test_compatibility.py
  pymatgen/entries/tests/test_computed_entries.py
  pymatgen/entries/tests/test_mixing_scheme.py
  pymatgen/ext/tests/test_matproj.py
  pymatgen/io/cif.py
  pymatgen/io/cp2k/tests/test_sets.py
  pymatgen/io/fiesta.py
  pymatgen/io/lammps/tests/test_inputs.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/tests/test_wannier90.py
  pymatgen/io/vasp/optics.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_optics.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/transformations/tests/test_site_transformations.py
  pymatgen/util/convergence.py
  pymatgen/util/coord.py
  pymatgen/vis/structure_chemview.py
  pyproject.toml
  test_files/.pytest-split-durations
Labels: tests, qa, housekeeping

#3131 Test error messages
  .pre-commit-config.yaml
  pymatgen/electronic_structure/tests/test_bandstructure.py
  pymatgen/electronic_structure/tests/test_dos.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/tests/test_abiobjects.py
  pymatgen/io/abinit/tests/test_inputs.py
  pymatgen/io/abinit/tests/test_pseudos.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/tests/test_data.py
  pymatgen/io/lobster/tests/test_lobster.py
  pymatgen/io/lobster/tests/test_lobsterenv.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/qchem/tests/test_inputs.py
  pymatgen/io/res.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/tests/test_core.py
  pymatgen/io/tests/test_gaussian.py
  pymatgen/io/tests/test_nwchem.py
  pymatgen/io/tests/test_phonopy.py
  pymatgen/io/tests/test_pwscf.py
  pymatgen/io/tests/test_res.py
  pymatgen/io/tests/test_template_input.py
  pymatgen/io/tests/test_wannier90.py
  pymatgen/phonon/gruneisen.py
  pymatgen/phonon/thermal_displacements.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/symmetry/site_symmetries.py
  pymatgen/transformations/tests/test_standard_transformations.py
  pymatgen/util/convergence.py
  pymatgen/util/tests/test_convergence.py
Labels: tests, qa

#3133 Enable `ruff` `PT011`
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/chemenv/utils/tests/test_chemenv_config.py
  pymatgen/analysis/tests/test_interface_reactions.py
  pymatgen/analysis/tests/test_phase_diagram.py
  pymatgen/core/tests/test_structure.py
  pymatgen/electronic_structure/tests/test_dos.py
  pymatgen/entries/tests/test_entry_tools.py
  pymatgen/io/lobster/tests/test_lobsterenv.py
  pymatgen/io/phonopy.py
  pymatgen/io/tests/test_packmol.py
  pymatgen/io/tests/test_phonopy.py
  pymatgen/transformations/tests/test_site_transformations.py
  pymatgen/util/provenance.py
  pymatgen/util/tests/test_provenance.py
  pymatgen/util/tests/test_string.py
  pyproject.toml
Labels: tests, qa

#3140 Breaking: Rename `[SomeCode]ParserError` to `[SomeCode]ParseError` and inherit from `SyntaxError`
  pymatgen/io/abinit/__init__.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/feff/__init__.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/res.py
  pymatgen/io/tests/test_res.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/tests/test_outputs.py
Labels: io, breaking, DX

#3150 Don't waste `pytest.approx()` function calls on integers
  .pre-commit-config.yaml
  pymatgen/analysis/chemenv/coordination_environments/tests/test_chemenv_strategies.py
  pymatgen/analysis/diffraction/tests/test_xrd.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/quasiharmonic.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/tests/test_local_env.py
  pymatgen/analysis/tests/test_reaction_calculator.py
  pymatgen/analysis/tests/test_surface_analysis.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/command_line/tests/test_bader_caller.py
  pymatgen/core/units.py
  pymatgen/io/adf.py
  pymatgen/io/cif.py
  pymatgen/io/core.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/io/xyz.py
  pymatgen/io/zeopp.py
  pymatgen/symmetry/kpath.py
Labels: tests, housekeeping

#3143 Add `check_potcar: bool = True` to `MaterialsProject2020Compatibility`, `MaterialsProjectDFTMixingScheme` and `PotcarCorrection`
  pymatgen/core/tests/test_sites.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/entries/tests/test_compatibility.py
  pymatgen/entries/tests/test_mixing_scheme.py
Labels: enhancement, UX, mixing-schemes

#3153 Rename `PMG_DISABLE_POTCAR_CHECKS` to `PMG_POTCAR_CHECKS`
  docs_rst/usage.rst
  pymatgen/cli/pmg_config.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/io/vasp/inputs.py
Labels: fix, breaking, cli

#3155 Fix "Incompatible POTCAR" error on ComputedEntries with oxidation states
  pymatgen/entries/compatibility.py
  pymatgen/entries/tests/test_compatibility.py
Labels: fix, mixing-schemes

#3070 Fix `MagOrderingTransformation` by enforcing implicit-zero magnetic moments in `SpaceGroupAnalyzer`
  pymatgen/symmetry/analyzer.py
Labels: fix, analysis, magmoms

#3162 Unreadable string concat ops to f-string
  pymatgen/analysis/bond_dissociation.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/fragmenter.py
  pymatgen/analysis/graphs.py
  pymatgen/core/structure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/correction_calculator.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/xr.py
Labels: housekeeping

#3165 Revert `mp-api<0.34.0` pin
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/wulff.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/core/periodic_table.py
  pymatgen/core/structure.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/dos.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/io/tests/test_cif.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/util/convergence.py
  setup.py
Labels: compatability, pkg

#3168 Fix CI error `"pdentries_test.csv"` not found
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/connectivity/structure_connectivity.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/tests/test_analyzer.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/tests/test_chempot_diagram.py
  pymatgen/analysis/tests/test_phase_diagram.py
  pymatgen/analysis/tests/test_piezo_sensitivity.py
  pymatgen/core/sites.py
  pymatgen/core/tests/test_sites.py
  pymatgen/io/tests/test_ase.py
  pymatgen/io/tests/test_cif.py
  test_files/.pytest-split-durations
Labels: fix, housekeeping, ci

#3169 Fix issues with labels
  pymatgen/core/sites.py
  pymatgen/core/structure.py
  pymatgen/core/tests/test_sites.py
  pymatgen/core/tests/test_structure.py
  pymatgen/ext/optimade.py
  test_files/.pytest-split-durations
Labels: fix, core

#3149 fix `estimate_nbands` function
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_sets.py
Labels: io, fix, vasp

#3175 Add `CifParser.get_structures(on_error='warn')`
  pymatgen/core/composition.py
  pymatgen/core/ion.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/ext/optimade.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cif.py
  pymatgen/io/lmto.py
  pymatgen/io/tests/test_cif.py
Labels: io, UX

#3176 `ruff . --fix`
  .pre-commit-config.yaml
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/connectivity/tests/test_connected_components.py
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/structure_prediction/dopant_predictor.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/tests/test_phase_diagram.py
  pymatgen/analysis/tests/test_surface_analysis.py
  pymatgen/command_line/tests/test_critic2_caller.py
  pymatgen/core/bonds.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/structure.py
  pymatgen/core/tensors.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/tests/test_mixing_scheme.py
  pymatgen/ext/tests/test_optimade.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/qchem/sets.py
  pymatgen/io/tests/test_cif.py
  pymatgen/transformations/advanced_transformations.py
Labels: housekeeping

#3151 `AseAtomsAdaptor`: Retain `tags` property when interconverting `Atoms` and `Structure`/`Molecule`
  pymatgen/core/tests/test_structure.py
  pymatgen/io/ase.py
  pymatgen/io/tests/test_ase.py
Labels: enhancement, io, ase

#3172 Fix a bug in pwscf.py. The proc_val function modifies string values.
  pymatgen/io/pwscf.py
  pymatgen/io/tests/test_pwscf.py
Labels: needs testing, io, fix

#3178 Delete commented out print statements
  dev_scripts/chemenv/equivalent_indices.py
  dev_scripts/chemenv/explicit_permutations_plane_algorithm.py
  dev_scripts/chemenv/get_plane_permutations_optimized.py
  dev_scripts/chemenv/plane_multiplicity.py
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  dev_scripts/chemenv/test_algos.py
  dev_scripts/chemenv/test_algos_all_geoms.py
  dev_scripts/chemenv/view_environment.py
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/connectivity/connectivity_finder.py
  pymatgen/analysis/chemenv/connectivity/environment_nodes.py
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_read_write.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/chemenv/utils/graph_utils.py
  pymatgen/analysis/chemenv/utils/tests/test_graph_utils.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/solar/slme.py
  pymatgen/analysis/topological/spillage.py
  pymatgen/core/composition.py
  pymatgen/core/tests/test_xcfunc.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/electronic_structure/tests/test_cohp.py
  pymatgen/entries/compatibility.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/abinit/tests/test_abiobjects.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/cif.py
  pymatgen/io/lmto.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/res.py
  pymatgen/io/vasp/optics.py
  pymatgen/phonon/thermal_displacements.py
Labels: qa, housekeeping

#3179 BUG: fix setting zero magmoms
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/tests/test_analyzer.py
Labels: fix, analysis, magmoms

#3180 Prefer `pymatviz` interactive plotly version of periodic table heatmap if available
  pymatgen/symmetry/kpath.py
  pymatgen/util/plotting.py
  pymatgen/util/tests/test_plotting.py
Labels: enhancement, data viz

#3182 Better Composition `repr`
  pymatgen/core/composition.py
  pymatgen/core/tests/test_composition.py
  pymatgen/core/units.py
Labels: enhancement, tests, core

#3184 Breaking: Return True for `Element in Composition` if `Species.symbol` matches `Element`
  pymatgen/analysis/tests/test_structure_matcher.py
  pymatgen/core/composition.py
  pymatgen/core/periodic_table.py
  pymatgen/core/tests/test_composition.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/tests/test_compatibility.py
  test_files/.pytest-split-durations
Labels: fix, breaking, core

#3189 Revert `LMAXMIX` "fix" added in #3041
  pymatgen/io/vasp/sets.py
Labels: io, fix, vasp

#3191 Add `bader_exe_path` keyword to `BaderAnalysis` and run `bader` tests in CI
  .github/workflows/test.yml
  pymatgen/command_line/bader_caller.py
  pymatgen/command_line/tests/test_bader_caller.py
  pymatgen/io/vasp/outputs.py
Labels: enhancement, api, cli

#3195 Unskip and fix `packmol` tests
  pymatgen/core/tests/test_structure.py
  pymatgen/io/lammps/tests/test_inputs.py
  pymatgen/io/tests/test_packmol.py
  pymatgen/io/tests/test_template_input.py
  pymatgen/phonon/tests/test_thermal_displacements.py
Labels: tests, fix, molecules

#3196 Delete variable self assignments
  .pre-commit-config.yaml
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/wulff.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/command_line/tests/test_gulp_caller.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/nwchem.py
  pymatgen/io/xtb/inputs.py
Labels: housekeeping
