Repository materialsproject/pymatgen, pull requests merged in 2023-12, with the labels that each got.

#3489 Updates for Vasprun with MD simulations
  pymatgen/io/vasp/outputs.py
  tests/files/vasprun.xml.md.gz
  tests/io/vasp/test_outputs.py
Labels: enhancement, io, vasp, md

#3496 Avoid redirects in `MPRester` requests
  pymatgen/ext/matproj.py
Labels: performance, api

#3497 Test improvements
  .pre-commit-config.yaml
  pymatgen/analysis/adsorption.py
  pymatgen/core/composition.py
  pymatgen/electronic_structure/dos.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/kpath.py
  tests/analysis/solar/test_slme.py
  tests/analysis/test_molecule_matcher.py
  tests/analysis/test_structure_matcher.py
  tests/core/test_structure.py
  tests/io/abinit/test_inputs.py
  tests/io/abinit/test_pseudos.py
  tests/io/feff/test_inputs.py
  tests/io/feff/test_sets.py
  tests/io/test_res.py
Labels: tests

#3493 Fix pdplotter.show with matplotlib backend
  pymatgen/analysis/phase_diagram.py
  tests/analysis/test_phase_diagram.py
  tests/files/.pytest-split-durations
Labels: tests, fix, data viz, analysis

#3505 `CifParser` only warn about `primitive` default value change to `False` if not passed to `parse_structures` explicitly
  pymatgen/core/structure.py
  pymatgen/io/cif.py
Labels: UX, cif

#3507 `PhononBSPlotter.plot_compare()` add legend labels
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  pymatgen/phonon/plotter.py
  tests/core/test_structure.py
Labels: enhancement, data viz, phonon

#3510 Fix legend label order in `PhononBSPlotter.plot_compare()`
  pymatgen/io/phonopy.py
  pymatgen/phonon/plotter.py
  tests/core/test_structure.py
  tests/phonon/test_plotter.py
Labels: tests, fix, data viz, phonon

#3511 Define arithmetic ops `__add__` `__sub__` `__mul__` `__neg__` `__eq__` for `PhononDos` with tests
  pymatgen/phonon/dos.py
  pymatgen/phonon/plotter.py
  tests/phonon/test_dos.py
Labels: enhancement, tests, phonon

#3514 Equalize `Phonon(Dos|BS)Plotter` colors, allow custom plot settings per-DOS
  pymatgen/phonon/dos.py
  pymatgen/phonon/plotter.py
Labels: enhancement, data viz, phonon

#3498 `ruff` automatic type annotations
  .pre-commit-config.yaml
  docs/_modules/pymatgen/cli/pmg_query.html
  pymatgen/cli/__init__.py
  pymatgen/cli/get_environment.py
  pymatgen/cli/pmg.py
  pymatgen/cli/pmg_query.py
  pymatgen/core/bonds.py
  pymatgen/core/composition.py
  pymatgen/core/interface.py
  pymatgen/core/ion.py
  pymatgen/core/lattice.py
  pymatgen/core/libxcfunc.py
  pymatgen/core/molecular_orbitals.py
  pymatgen/core/operations.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/spectrum.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/tensors.py
  pymatgen/core/trajectory.py
  pymatgen/core/units.py
  pymatgen/core/xcfunc.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/core.py
  pymatgen/electronic_structure/dos.py
  pymatgen/electronic_structure/plotter.py
  tests/test_cli.py
Labels: qa, types

#3516 Add bold flag to `latexify`
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/plotter.py
  pymatgen/util/string.py
  tests/analysis/chemenv/connectivity/test_connected_components.py
  tests/files/.pytest-split-durations
  tests/phonon/test_gruneisen.py
Labels: enhancement, data viz, phonon

#3517 `Composition` raise `ValueError` if `formula` string is only numbers and spaces
  pymatgen/core/composition.py
  tests/core/test_composition.py
Labels: breaking, UX, core

#3519 Raise `ValueError` for `float('NaN')` in `Composition`
  pymatgen/core/composition.py
  tests/core/test_composition.py
Labels: UX, core

#3520 Add `PhononDos.mae()` and `PhononBandStructure.has_imaginary_gamma_freq()` methods
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/plotter.py
  tests/phonon/test_bandstructure.py
  tests/phonon/test_dos.py
Labels: enhancement, phonon

#3522 QCInput: add docstrings for svp and pcm_nonels
  pymatgen/io/qchem/inputs.py
Labels: docs, molecules

#3524 `PhononDos.get_smeared_densities` return density unchanged for `sigma=0`
  pymatgen/phonon/dos.py
  tests/electronic_structure/test_dos.py
  tests/phonon/test_dos.py
Labels: enhancement, phonon

#3525 Add `PhononDos.get_last_peak()`
  pymatgen/phonon/dos.py
  tests/phonon/test_dos.py
Labels: enhancement, phonon

#3527 Fix label propagation in `Symmetry.from_spacegroup`
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: fix, symmetry, core

#3529 Bug fix: SpectrumPlotter.add_spectra
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  docs/apidoc/conf.py
  pymatgen/apps/battery/plotter.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/vis/plotters.py
  tests/apps/battery/test_plotter.py
  tests/vis/test_plotters.py
Labels: fix, data viz, breaking

#3530 Improve `PhononBandStructure.has_imaginary_gamma_freq()` by checking for negative freqs at all q-points close to Gamma
  pymatgen/io/exciting/inputs.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/plotter.py
  tests/phonon/test_bandstructure.py
Labels: enhancement, phonon

#3531 Add default issue template labels
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: DX

#3422 Add functionality to read ASE *.traj file in Trajectory class method from_file()
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/core/trajectory.py
  tests/core/test_trajectory.py
  tests/files/LiMnO2_chgnet_relax.traj
Labels: enhancement, ase

#3535 Add `PhononDos.r2_score` method
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/dos.py
  pymatgen/phonon/dos.py
  pymatgen/util/coord.py
  tests/electronic_structure/test_dos.py
  tests/phonon/test_dos.py
  tests/util/test_coord.py
Labels: enhancement, phonon
