Repository materialsproject/pymatgen, pull requests merged in 2023-06, with the labels that each got.

#3022 Breaking: Default `user_potcar_settings` to `{"W": "W_sv"}` in all input sets if `user_potcar_functional == "PBE_54"`
  pymatgen/core/structure.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_sets.py
Labels: io, vasp, breaking, UX

#2886 MPAqueousCompatiblity: compute hydrate correction using reduced rather than full composition
  pymatgen/entries/compatibility.py
  pymatgen/entries/tests/test_compatibility.py
Labels: fix

#3036 Don't do a hard `bandgap==0` check in the r2SCAN workflow
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_sets.py
Labels: enhancement, io, vasp

#3032 Improvements to `PDPlotter`: unary plots, 2D ternaries, better defaults, and highlight entries
  pymatgen/alchemy/tests/test_transmuters.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/tests/test_phase_diagram.py
  pymatgen/core/tests/test_lattice.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/util/plotly_pd_layouts.json
Labels: fix, data viz, analysis

#3035 Breaking: rename VaspInputSet.(potcar_functional->user_potcar_functional) and start testing `DictSet`
  pymatgen/core/tests/test_structure.py
  pymatgen/ext/tests/test_optimade.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/util/string.py
Labels: io, fix, needs discussion, vasp, breaking

#3038 Simplify `dict["key"] if "key" in dict else None` to `dict.get("key")`
  pymatgen/analysis/chemenv/connectivity/tests/test_connected_components.py
  pymatgen/analysis/chemenv/connectivity/tests/test_structure_connectivity.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_read_write.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_weights.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/apps/battery/tests/test_insertion_battery.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/ext/tests/test_matproj.py
  pymatgen/ext/tests/test_optimade.py
  pymatgen/io/adf.py
  pymatgen/io/ase.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/gruneisen.py
  pymatgen/transformations/tests/test_advanced_transformations.py
Labels: housekeeping

#3041 Fix LMAXMIX default in VASP INCAR now set based on element blocks in structure
  pymatgen/io/jarvis.py
  pymatgen/io/tests/test_jarvis.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/util/coord.py
Labels: io, fix, vasp

#3046 Better error message to clarify Structure.species only supported for ordered
  pymatgen/core/sites.py
  pymatgen/core/structure.py
  pymatgen/core/tests/test_structure.py
Labels: fix, UX

#3052 `IcohpValue.__str__` don't `return None`
  .pre-commit-config.yaml
  dev_scripts/chemenv/explicit_permutations.py
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/local_env.py
  pymatgen/core/tests/test_structure.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/tests/test_cohp.py
Labels: qa, housekeeping

#3053 `PourbaixDiagram` wrong composition bug fix
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/tests/test_pourbaix_diagram.py
Labels: fix, analysis

#3055 Migrate GHA release job to PyPI trusted publishing
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: github actions, pkg

#3064 Use self-documenting f-strings instead of hard-coding var names
  .github/workflows/test.yml
  dev_scripts/chemenv/get_plane_permutations_optimized.py
  dev_scripts/chemenv/test_algos_all_geoms.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/chemenv/utils/chemenv_config.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/path_finder.py
  pymatgen/core/periodic_table.py
  pymatgen/core/spectrum.py
  pymatgen/core/structure.py
  pymatgen/core/tests/test_tensors.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/correction_calculator.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/entries/tests/test_mixing_scheme.py
  pymatgen/ext/matproj.py
  pymatgen/ext/optimade.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/adf.py
  pymatgen/io/babel.py
  pymatgen/io/lammps/data.py
  pymatgen/io/nwchem.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/res.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/util/coord.py
  pymatgen/util/testing.py
Labels: qa, housekeeping

#3066 Fix `ValueError: Unexpected atomic number Z=0`
  pymatgen/core/structure.py
Labels: fix

#3069 Remove assertEqual vestiges in tests
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/elasticity/tests/test_stress.py
  pymatgen/analysis/interfaces/tests/test_coherent_interface.py
  pymatgen/analysis/magnetism/tests/test_analyzer.py
  pymatgen/analysis/tests/test_graphs.py
  pymatgen/analysis/tests/test_local_env.py
  pymatgen/analysis/tests/test_pourbaix_diagram.py
  pymatgen/analysis/xas/tests/test_spectrum.py
  pymatgen/apps/borg/tests/test_hive.py
  pymatgen/core/tests/test_periodic_table.py
  pymatgen/core/tests/test_structure.py
  pymatgen/electronic_structure/tests/test_cohp.py
  pymatgen/entries/tests/test_compatibility.py
  pymatgen/ext/tests/test_matproj.py
  pymatgen/ext/tests/test_optimade.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/io/vasp/tests/test_sets.py
Labels: tests, housekeeping

#3072 More pytest.approx() refactoring
  pymatgen/analysis/chemenv/coordination_environments/tests/test_chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_read_write.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_structure_environments.py
  pymatgen/analysis/chemenv/utils/tests/test_func_utils.py
  pymatgen/analysis/diffraction/tests/test_neutron.py
  pymatgen/analysis/diffraction/tests/test_tem.py
  pymatgen/analysis/diffraction/tests/test_xrd.py
  pymatgen/analysis/elasticity/tests/test_elastic.py
  pymatgen/analysis/elasticity/tests/test_stress.py
  pymatgen/analysis/ferroelectricity/tests/test_polarization.py
  pymatgen/analysis/interfaces/tests/test_zsl.py
  pymatgen/analysis/magnetism/tests/test_jahnteller.py
  pymatgen/analysis/solar/tests/test_slme.py
  pymatgen/analysis/tests/test_bond_valence.py
  pymatgen/analysis/tests/test_chempot_diagram.py
  pymatgen/analysis/tests/test_cost.py
  pymatgen/analysis/tests/test_phase_diagram.py
  pymatgen/apps/battery/tests/test_insertion_battery.py
  pymatgen/core/tests/test_bonds.py
  pymatgen/core/tests/test_composition.py
  pymatgen/core/tests/test_lattice.py
  pymatgen/core/tests/test_structure.py
  pymatgen/entries/tests/test_compatibility.py
  pymatgen/entries/tests/test_computed_entries.py
  pymatgen/ext/tests/test_matproj.py
  pymatgen/io/lobster/tests/test_lobsterenv.py
  pymatgen/io/tests/test_res.py
  pymatgen/symmetry/tests/test_analyzer.py
  pymatgen/symmetry/tests/test_groups.py
  pymatgen/symmetry/tests/test_kpath_hin.py
  pymatgen/symmetry/tests/test_kpath_lm.py
  pymatgen/symmetry/tests/test_kpath_sc.py
  pymatgen/util/tests/test_convergence.py
Labels: tests, housekeeping

#3056 `AseAtomsAdaptor`: Ensure `Molecule.charge` and `Molecule.spin_multiplicity` aren't lost upon interconversion
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/core/tests/test_interface.py
  pymatgen/io/ase.py
  pymatgen/io/tests/test_ase.py
  pymatgen/io/vasp/sets.py
  pymatgen/util/tests/test_graph_hashing.py
  setup.py
Labels: enhancement, io, ase

#3074 Single-line `None` assignment
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/chemenv/utils/graph_utils.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/apps/battery/conversion_battery.py
  pymatgen/cli/pmg_config.py
  pymatgen/command_line/chargemol_caller.py
  pymatgen/command_line/critic2_caller.py
  pymatgen/core/trajectory.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/io/adf.py
  pymatgen/io/ase.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/nwchem.py
  pymatgen/io/phonopy.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/phonon/tests/test_gruneisen.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/symmetry/kpath.py
  pymatgen/util/convergence.py
  pymatgen/util/provenance.py
Labels: housekeeping

#3075 Breaking: change `Composition` bad key error type from `TypeError` to `KeyError`
  pymatgen/alchemy/materials.py
  pymatgen/alchemy/tests/test_materials.py
  pymatgen/analysis/chemenv/utils/tests/test_func_utils.py
  pymatgen/core/composition.py
  pymatgen/core/tests/test_bonds.py
  pymatgen/core/tests/test_composition.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/vasp/outputs.py
Labels: tests, breaking

#3077 Fix `ase` tests not running due to `pymatgen/io/ase.py` shadowing `ase` package
  pymatgen/io/ase.py
  pymatgen/io/tests/test_ase.py
Labels: tests, pkg, ase

#3076 Cosmetic fixes to `AseAtomsAdaptor` dictionary key ordering
  pymatgen/io/ase.py
Labels: housekeeping

#3081 More precise error message tests and more informative errors in some cases
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_read_write.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_voronoi.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_weights.py
  pymatgen/analysis/chemenv/utils/func_utils.py
  pymatgen/analysis/chemenv/utils/tests/test_coordination_geometry_utils.py
  pymatgen/analysis/chemenv/utils/tests/test_func_utils.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/diffraction/tests/test_neutron.py
  pymatgen/analysis/diffraction/tests/test_tem.py
  pymatgen/analysis/diffraction/tests/test_xrd.py
  pymatgen/analysis/diffraction/xrd.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/elasticity/strain.py
  pymatgen/analysis/elasticity/tests/test_elastic.py
  pymatgen/analysis/elasticity/tests/test_strain.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/ferroelectricity/tests/test_polarization.py
  pymatgen/analysis/interfaces/tests/test_substrate_analyzer.py
  pymatgen/analysis/interfaces/tests/test_zsl.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/analysis/magnetism/tests/test_analyzer.py
  pymatgen/analysis/tests/test_graphs.py
  pymatgen/analysis/tests/test_quasiharmonic_debye_approx.py
  pymatgen/analysis/tests/test_reaction_calculator.py
  pymatgen/analysis/tests/test_structure_analyzer.py
  pymatgen/analysis/tests/test_structure_matcher.py
  pymatgen/apps/battery/analyzer.py
  pymatgen/apps/battery/tests/test_analyzer.py
  pymatgen/apps/battery/tests/test_insertion_battery.py
  pymatgen/core/tensors.py
  pymatgen/core/units.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/tests/test_lobsterenv.py
Labels: tests, qa

#3082 Add `test_apply_scissor_(insulator|spin_polarized)`
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/electronic_structure/tests/test_bandstructure.py
Labels: tests

#3085 Immutable class defaults
  .pre-commit-config.yaml
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/alchemy/filters.py
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/molecule_structure_comparator.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/cli/pmg_config.py
  pymatgen/core/interface.py
  pymatgen/core/spectrum.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/ext/optimade.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/adf.py
  pymatgen/io/cif.py
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/cp2k/sets.py
  pymatgen/io/lammps/generators.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/nwchem.py
  pymatgen/io/packmol.py
  pymatgen/io/pwscf.py
  pymatgen/io/shengbte.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/symmetry/groups.py
  pymatgen/symmetry/tests/test_analyzer.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/num.py
  pymatgen/util/plotting.py
  pymatgen/util/provenance.py
  pymatgen/util/testing.py
  pymatgen/vis/structure_vtk.py
  pyproject.toml
  requirements.txt
  setup.py
  tasks.py
Labels: qa, housekeeping

#3086 Fix hill_formula Composition property
  pymatgen/core/composition.py
  pymatgen/core/tests/test_composition.py
Labels: fix, core

#3089 Fix `DosPlotterTest.test_get_plot_limits()` assert floats equal not using `approx`
  pymatgen/electronic_structure/tests/test_plotter.py
Labels: tests, fix

#3091 Check for expected error msg in `pytest.raises()`
  pymatgen/alchemy/tests/test_filters.py
  pymatgen/analysis/chemenv/connectivity/tests/test_environment_nodes.py
  pymatgen/analysis/diffraction/tests/test_neutron.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/structure_prediction/tests/test_volume_predictor.py
  pymatgen/analysis/tests/test_dimensionality.py
  pymatgen/analysis/tests/test_ewald.py
  pymatgen/analysis/tests/test_graphs.py
  pymatgen/analysis/tests/test_local_env.py
  pymatgen/analysis/tests/test_molecule_matcher.py
  pymatgen/apps/battery/tests/test_analyzer.py
  pymatgen/core/tests/test_composition.py
  pymatgen/core/tests/test_ion.py
  pymatgen/core/tests/test_lattice.py
  pymatgen/core/tests/test_molecular_orbitals.py
  pymatgen/core/tests/test_structure.py
  pymatgen/core/tests/test_surface.py
  pymatgen/entries/computed_entries.py
  pymatgen/io/tests/test_atat.py
  pymatgen/io/tests/test_cif.py
  pymatgen/io/tests/test_pwscf.py
  pymatgen/io/tests/test_xyz.py
  pymatgen/io/tests/test_zeopp.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/transformations/tests/test_site_transformations.py
  pymatgen/util/coord.py
  test_files/.pytest-split-durations
Labels: tests, qa

#3092 Fix `ValueError` when parsing `vasprun.xml` with only some atom force constants
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/tests/test_outputs.py
Labels: io, fix, vasp

#3093 Fix `test_babel_pc_with_ro_depth_0_vs_depth_10`
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/tests/test_fragmenter.py
  pymatgen/core/lattice.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/tests/test_composition.py
  pymatgen/core/tests/test_lattice.py
  pymatgen/core/tests/test_operations.py
  pymatgen/core/tests/test_periodic_table.py
  pymatgen/core/tests/test_sites.py
  pymatgen/core/tests/test_spectrum.py
  pymatgen/core/tests/test_units.py
  pymatgen/io/gaussian.py
  pymatgen/util/coord.py
Labels: dependencies, tests, analysis

#3094 Set `hashlib.md5(usedforsecurity=False)` when computing POTCAR hashes
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/vasp/inputs.py
Labels: io, fix, vasp

#3099 No single letter vars: `s -> struct`
  pymatgen/alchemy/materials.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/tests/test_volume_predictor.py
  pymatgen/analysis/tests/test_energy_models.py
  pymatgen/analysis/tests/test_local_env.py
  pymatgen/apps/battery/tests/test_analyzer.py
  pymatgen/cli/pmg.py
  pymatgen/cli/pmg_plot.py
  pymatgen/cli/pmg_query.py
  pymatgen/cli/pmg_structure.py
  pymatgen/command_line/enumlib_caller.py
  pymatgen/command_line/tests/test_bader_caller.py
  pymatgen/command_line/tests/test_enumlib_caller.py
  pymatgen/core/interface.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/tests/test_structure.py
  pymatgen/core/tests/test_surface.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/electronic_structure/tests/test_bandstructure.py
  pymatgen/entries/entry_tools.py
  pymatgen/entries/mixing_scheme.py
  pymatgen/ext/cod.py
  pymatgen/ext/matproj.py
  pymatgen/ext/tests/test_cod.py
  pymatgen/io/cif.py
  pymatgen/io/feff/tests/test_sets.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/tests/test_data.py
  pymatgen/io/lammps/tests/test_inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/vasp/tests/test_inputs.py
  pymatgen/io/vasp/tests/test_outputs.py
  pymatgen/io/vasp/tests/test_sets.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/tests/test_analyzer.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/transformations/site_transformations.py
  pymatgen/transformations/standard_transformations.py
  pymatgen/transformations/tests/test_advanced_transformations.py
  pymatgen/transformations/tests/test_site_transformations.py
  pymatgen/transformations/tests/test_standard_transformations.py
  pymatgen/util/tests/test_provenance.py
  pymatgen/vis/structure_chemview.py
  pymatgen/vis/structure_vtk.py
Labels: qa, housekeeping

#3100 fixed misspell in GB error message
  pymatgen/analysis/gb/grain.py
Labels: docs, types

#3097 Add CHGNet to `structure.relax` and `structure.calculate`
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/solar/tests/test_slme.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/structure.py
  pymatgen/core/tests/test_structure.py
  pymatgen/io/vasp/inputs.py
  pymatgen/phonon/tests/test_thermal_displacements.py
  pymatgen/symmetry/tests/test_analyzer.py
  pymatgen/transformations/tests/test_standard_transformations.py
  setup.py
Labels: enhancement, ml

#3104 Update `addons.rst`
  docs_rst/addons.rst
Labels: docs

#3109 Fix `openbabel` import to unskip `MoleculeMatcherTest`
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/tests/test_molecule_matcher.py
  setup.py
Labels: tests, fix, pkg

#3110 Fix unexpected error message in `MoleculeGraphTest.test_construction`
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/tests/test_graphs.py
Labels: tests, fix, analysis

#3107 Setup `duecredit` for machine-readable in-code citations
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/tests/test_coordination_geometry_finder.py
  pymatgen/analysis/chemenv/utils/defs_utils.py
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/interface_reactions.py
  pymatgen/analysis/interfaces/zsl.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/analysis/molecule_structure_comparator.py
  pymatgen/analysis/nmr.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/prototypes.py
  pymatgen/analysis/quasiharmonic.py
  pymatgen/analysis/solar/slme.py
  pymatgen/analysis/structure_prediction/substitution_probability.py
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/analysis/xps.py
  pymatgen/cli/get_environment.py
  pymatgen/command_line/critic2_caller.py
  pymatgen/core/lattice.py
  pymatgen/core/operations.py
  pymatgen/core/surface.py
  pymatgen/entries/compatibility.py
  pymatgen/entries/computed_entries.py
  pymatgen/ext/matproj.py
  pymatgen/ext/optimade.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/thermal_displacements.py
  pymatgen/symmetry/analyzer.py
  pymatgen/symmetry/bandstructure.py
  pymatgen/symmetry/kpath.py
  pymatgen/util/due.py
  tasks.py
Labels: enhancement, docs

#3080 Add a cache to speed up get_el_sp
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
Labels: stale, awaiting user
