Repository materialsproject/pymatgen, pull requests merged in 2023-11, with the labels that each got.

#3447 Refresh OPTIMADE aliases and update docstrings
  pymatgen/ext/optimade.py
Labels: housekeeping, ecosystem

#3434 Add `summary_stats` key to `Vasprun.potcar_spec`
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/potcar_summary_stats.json.bz2
  pymatgen/io/vasp/potcar_summary_stats.json.gz
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
Labels: enhancement, io, vasp

#3439 Fix lobsterin dict inheritance and treat \t in lobsterins correctly
  pymatgen/io/lobster/inputs.py
  tests/files/cohp/lobsterin.2
  tests/io/lobster/test_inputs.py
Labels: io, fix, lobster

#3451 Fix `BSPlotterProjected.get_elt_projected_plots`
  pymatgen/electronic_structure/plotter.py
  tests/electronic_structure/test_bandstructure.py
Labels: fix, data viz, electronic structure

#3426 Fix `Atoms.cluster_from_file()` in `io.feff.inputs` giving wrong number of atoms
  pymatgen/io/feff/inputs.py
  tests/files/Pt37_atoms.inp.gz
  tests/io/feff/test_inputs.py
Labels: io, fix

#3454 Write test-created files to temporary directory, don't pollute test dir
  pymatgen/analysis/cost.py
  pymatgen/core/xcfunc.py
  pymatgen/entries/entry_tools.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cif.py
  pymatgen/io/vasp/sets.py
  pymatgen/util/provenance.py
  tests/core/test_periodic_table.py
  tests/core/test_structure.py
  tests/core/test_trajectory.py
  tests/electronic_structure/test_plotter.py
  tests/entries/test_entry_tools.py
  tests/io/feff/test_inputs.py
  tests/io/feff/test_sets.py
  tests/io/lobster/test_inputs.py
  tests/io/qchem/test_sets.py
  tests/io/test_shengbte.py
  tests/io/vasp/test_outputs.py
  tests/io/vasp/test_sets.py
  tests/phonon/test_bandstructure.py
  tests/phonon/test_ir_spectra.py
Labels: tests, fix, DX

#3419 Deprecate `CifParser.get_structures()` in favor of new `parse_structures` in which `primitive` defaults to `False`
  pymatgen/alchemy/materials.py
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/core/structure.py
  pymatgen/io/cif.py
  pymatgen/io/feff/inputs.py
  tests/analysis/magnetism/test_analyzer.py
  tests/analysis/magnetism/test_jahnteller.py
  tests/core/test_structure.py
  tests/ext/test_matproj.py
  tests/io/feff/test_inputs.py
  tests/io/feff/test_sets.py
  tests/io/test_cif.py
  tests/io/test_core.py
  tests/transformations/test_advanced_transformations.py
Labels: io, core, cif

#3435 FHI-aims IO Parsers
  .pre-commit-config.yaml
  examples/aims_io/FHI-aims-example.ipynb
  pymatgen/io/aims/__init__.py
  pymatgen/io/aims/inputs.py
  pymatgen/io/aims/outputs.py
  pymatgen/io/aims/parsers.py
  tests/io/aims/input_files/control.in.h2o.gz
  tests/io/aims/input_files/control.in.si.gz
  tests/io/aims/input_files/geometry.in.h2o.gz
  tests/io/aims/input_files/geometry.in.h2o.ref.gz
  tests/io/aims/input_files/geometry.in.si.gz
  tests/io/aims/input_files/geometry.in.si.ref.gz
  tests/io/aims/input_files/h2o_ref.json.gz
  tests/io/aims/input_files/si_ref.json.gz
  tests/io/aims/output_files/h2o.out.gz
  tests/io/aims/output_files/h2o_ref.json.gz
  tests/io/aims/output_files/si.out.gz
  tests/io/aims/output_files/si_ref.json.gz
  tests/io/aims/parser_checks/calc_chunk.out.gz
  tests/io/aims/parser_checks/header_chunk.out.gz
  tests/io/aims/parser_checks/molecular_calc_chunk.out.gz
  tests/io/aims/parser_checks/molecular_header_chunk.out.gz
  tests/io/aims/parser_checks/numerical_stress.out.gz
  tests/io/aims/species_directory/light/01_H_default.gz
  tests/io/aims/species_directory/light/08_O_default.gz
  tests/io/aims/species_directory/light/14_Si_default.gz
  tests/io/aims/test_aims_inputs.py
  tests/io/aims/test_aims_outputs.py
  tests/io/aims/test_aims_parsers.py
Labels: enhancement, io

#3462 Move needlessly function-scoped imports to module scope
  .pre-commit-config.yaml
  dev_scripts/regen_libxcfunc.py
  dev_scripts/update_pt_data.py
  docs/apidoc/conf.py
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/chemenv/connectivity/connected_components.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  pymatgen/analysis/diffraction/core.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/eos.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/cli/pmg_config.py
  pymatgen/command_line/mcsqs_caller.py
  pymatgen/core/structure.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/entry_tools.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/core.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/ir_spectra.py
  pymatgen/phonon/plotter.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/due.py
  pymatgen/util/plotting.py
  pymatgen/util/testing.py
  tests/analysis/test_energy_models.py
  tests/analysis/test_surface_analysis.py
  tests/electronic_structure/test_plotter.py
  tests/entries/test_compatibility.py
  tests/ext/test_matproj.py
  tests/io/abinit/test_netcdf.py
  tests/io/qchem/test_inputs.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
  tests/phonon/test_plotter.py
  tests/symmetry/test_analyzer.py
Labels: qa, housekeeping

#3464 Module-scoped imports
  pymatgen/analysis/diffraction/neutron.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/quasirrho.py
  pymatgen/analysis/solar/slme.py
  pymatgen/core/lattice.py
  pymatgen/core/structure.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/electronic_structure/dos.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/__init__.py
  pymatgen/entries/compatibility.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/adf.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/vasp/optics.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/xcrysden.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/gruneisen.py
  pymatgen/phonon/plotter.py
  pymatgen/symmetry/groups.py
  pymatgen/transformations/advanced_transformations.py
  pymatgen/util/string.py
  tests/analysis/test_molecule_matcher.py
  tests/core/test_structure.py
  tests/io/test_adf.py
  tests/transformations/test_advanced_transformations.py
  tests/transformations/test_standard_transformations.py
Labels: qa, housekeeping

#3466 Aims bug fixes
  pymatgen/io/aims/inputs.py
  pymatgen/io/aims/outputs.py
  pymatgen/io/aims/parsers.py
  tests/io/aims/input_files/control.in.si.gz
  tests/io/aims/input_files/control.in.si.no_sd.gz
  tests/io/aims/output_files/si.out.gz
  tests/io/aims/output_files/si_ref.json.gz
  tests/io/aims/test_aims_inputs.py
Labels: io, fix

#3468 Hot fix: `pymatgen` package missing `potcar-summary-stats.json.bz2`
  README.md
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/potcar-summary-stats.json.bz2
  setup.py
  tests/io/vasp/test_inputs.py
  tests/test_pkg.py
Labels: fix, pkg, urgent

#3471 Add `Composition.charge and `charge_balanced` properties
  pymatgen/analysis/structure_prediction/substitutor.py
  pymatgen/core/composition.py
  tests/analysis/structure_prediction/test_substitution_probability.py
  tests/analysis/structure_prediction/test_substitutor.py
  tests/analysis/test_local_env.py
  tests/core/test_composition.py
  tests/transformations/test_advanced_transformations.py
Labels: enhancement, core

#3477 Improve doc strings substitution_probability.py
  pymatgen/analysis/structure_prediction/substitution_probability.py
Labels: fix, docs

#3478 `(Structure|Molecule).alphabetical_formula`
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/core/structure.py
  pymatgen/core/units.py
  tests/core/test_structure.py
  tests/io/vasp/test_sets.py
Labels: enhancement, core

#3479 Improvements to `PhononDosPlotter` and `PhononBSPlotter`
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/dos.py
  pymatgen/phonon/plotter.py
  tests/analysis/chemenv/coordination_environments/test_coordination_geometry_finder.py
  tests/analysis/chemenv/coordination_environments/test_read_write.py
  tests/analysis/chemenv/coordination_environments/test_structure_environments.py
  tests/analysis/chemenv/coordination_environments/test_weights.py
  tests/electronic_structure/test_bandstructure.py
  tests/electronic_structure/test_boltztrap.py
  tests/electronic_structure/test_plotter.py
  tests/files/.pytest-split-durations
  tests/phonon/test_bandstructure.py
  tests/phonon/test_dos.py
Labels: enhancement, data viz, phonon

#3476 Convert all FHI-aims stresses to be 3x3 instead of Voigt notation
  pymatgen/io/aims/parsers.py
  tests/io/aims/test_aims_parsers.py
Labels: io, fix

#3467 Allow Structure.interpolate to extrapolate
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: enhancement, needs testing, core
