Repository materialsproject/pymatgen, pull requests merged in 2024-01, with the labels that each got.

#3541 Fix bug in SQSTransformation
  pymatgen/transformations/advanced_transformations.py
  tests/command_line/test_mcsqs_caller.py
  tests/files/mcsqs/pzt-structs-2.json
  tests/files/mcsqs/pzt-structs.json
  tests/io/cp2k/test_inputs.py
  tests/transformations/test_advanced_transformations.py
Labels: fix, trafos

#3543 Fix failing CI due to broken BoltzTraP2 install
  .github/workflows/release.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pymatgen/electronic_structure/plotter.py
  pymatgen/phonon/dos.py
  pymatgen/transformations/advanced_transformations.py
  setup.py
Labels: dependencies, fix, docs, ci

#3502 Enforce `zval` to be an integer to avoid improper syntax in `.cri` file
  pymatgen/command_line/critic2_caller.py
  tests/command_line/test_critic2_caller.py
Labels: fix, cli

#3540 Fix MaterialsProjectCompatibility run type handling for GGA+U
  pymatgen/entries/compatibility.py
Labels: fix, mixing-schemes

#3544 Phonon convenience imports
  pymatgen/phonon/__init__.py
  tests/phonon/__init__.py
  tests/phonon/test_init.py
Labels: UX, phonon

#3546 Add diffusive thermal conductivity model proposed by Agne et al.
  pymatgen/analysis/elasticity/elastic.py
  tests/analysis/elasticity/test_elastic.py
Labels: enhancement, analysis

#3553 Accept `Path` objects as `filename` in `IStructure.to()`
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: io, fix, core

#3552 Retain `Structure.properties` in `structure_from_abivars()`/`structure_to_abivars()` round trip
  pymatgen/core/structure.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/variable.py
  tests/core/test_structure.py
  tests/io/abinit/test_inputs.py
Labels: compatability, io, fix

#3557 Fix `ValueError: Invalid fmt` with `Structure.to(fmt='yml')`
  pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: io, fix, core

#3542 Improve CIF checking, support for isotopes, and correct handling of new VASP 6.4.2 POSCAR format incl. slashes in header
  dev_scripts/periodic_table.yaml
  dev_scripts/update_pt_data.py
  pymatgen/analysis/diffraction/core.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/core/periodic_table.json
  pymatgen/core/periodic_table.py
  pymatgen/io/cif.py
  pymatgen/io/lammps/data.py
  pymatgen/io/vasp/inputs.py
  tests/core/test_composition.py
  tests/core/test_periodic_table.py
  tests/core/test_structure.py
  tests/io/test_cif.py
  tests/io/vasp/test_inputs.py
Labels: enhancement, fix, vasp, cif

#3561 Remove deprecated `(to|from|as|get)_string` methods
  pymatgen/alchemy/materials.py
  pymatgen/alchemy/transmuters.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/reaction_calculator.py
  pymatgen/core/operations.py
  pymatgen/core/periodic_table.py
  pymatgen/core/trajectory.py
  pymatgen/core/units.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/adf.py
  pymatgen/io/atat.py
  pymatgen/io/babel.py
  pymatgen/io/cif.py
  pymatgen/io/core.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/exciting/inputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/fiesta.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lammps/outputs.py
  pymatgen/io/lmto.py
  pymatgen/io/nwchem.py
  pymatgen/io/prismatic.py
  pymatgen/io/pwscf.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/xcrysden.py
  pymatgen/io/xr.py
  pymatgen/io/xyz.py
  pymatgen/io/zeopp.py
  pymatgen/symmetry/groups.py
  pymatgen/symmetry/maggroups.py
  pymatgen/symmetry/settings.py
  pymatgen/util/string.py
  tests/core/test_periodic_table.py
  tests/core/test_structure.py
  tests/io/feff/test_inputs.py
  tests/io/feff/test_outputs.py
  tests/io/feff/test_sets.py
  tests/io/lammps/test_inputs.py
  tests/io/lammps/test_outputs.py
  tests/io/qchem/test_inputs.py
  tests/io/test_adf.py
  tests/io/test_babel.py
  tests/io/test_cif.py
  tests/io/test_core.py
  tests/io/test_fiesta.py
  tests/io/test_gaussian.py
  tests/io/test_nwchem.py
  tests/io/test_prismatic.py
  tests/io/test_xcrysden.py
  tests/io/test_xyz.py
  tests/symmetry/test_settings.py
  tests/util/test_string.py
Labels: housekeeping, deprecation

#3562 Deprecate `Structure.ntypesp` replaced by `Structure.n_elems`
  pymatgen/core/lattice.py
  pymatgen/core/structure.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/cp2k/sets.py
  pymatgen/io/shengbte.py
  pymatgen/io/vasp/sets.py
  tests/core/test_structure.py
  tests/io/abinit/test_inputs.py
  tests/io/vasp/test_sets.py
Labels: fix, core, deprecation

#3512 Add `pymatgen.io.pwmat` module
  pymatgen/core/structure.py
  pymatgen/io/pwmat/__init__.py
  pymatgen/io/pwmat/inputs.py
  pymatgen/io/pwmat/outputs.py
  tests/core/test_structure.py
  tests/files/pwmat/DOS.spinup_projected
  tests/files/pwmat/MOVEMENT.lzma
  tests/files/pwmat/OUT.FERMI.lzma
  tests/files/pwmat/REPORT
  tests/files/pwmat/atom.config
  tests/io/pwmat/test_inputs.py
  tests/io/pwmat/test_outputs.py
Labels: enhancement, io

#3564 Ruff fixes
  .pre-commit-config.yaml
  dev_scripts/chemenv/strategies/multi_weights_strategy_parameters.py
  pymatgen/alchemy/filters.py
  pymatgen/analysis/adsorption.py
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/heisenberg.py
  pymatgen/apps/borg/hive.py
  pymatgen/apps/borg/queen.py
  pymatgen/cli/pmg_potcar.py
  pymatgen/command_line/critic2_caller.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/command_line/vampire_caller.py
  pymatgen/core/bonds.py
  pymatgen/core/structure.py
  pymatgen/core/trajectory.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/adf.py
  pymatgen/io/aims/parsers.py
  pymatgen/io/common.py
  pymatgen/io/core.py
  pymatgen/io/cssr.py
  pymatgen/io/fiesta.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/pwmat/inputs.py
  pymatgen/io/qchem/sets.py
  pymatgen/phonon/thermal_displacements.py
  pymatgen/transformations/site_transformations.py
  pymatgen/vis/plotters.py
  pyproject.toml
  tests/analysis/chemenv/coordination_environments/test_coordination_geometry_finder.py
  tests/analysis/diffraction/test_tem.py
  tests/analysis/elasticity/test_elastic.py
  tests/analysis/ferroelectricity/test_polarization.py
  tests/analysis/test_graphs.py
  tests/analysis/test_local_env.py
  tests/analysis/test_piezo_sensitivity.py
  tests/analysis/test_structure_matcher.py
  tests/analysis/test_surface_analysis.py
  tests/core/test_sites.py
  tests/core/test_structure.py
  tests/core/test_surface.py
  tests/electronic_structure/test_cohp.py
  tests/io/vasp/test_outputs.py
  tests/transformations/test_site_transformations.py
  tests/transformations/test_standard_transformations.py
  tests/util/test_graph_hashing.py
Labels: fix, qa

#3568 Lazy import `pandas` in `Structure.as_dataframe()` to improve startup speed
  pymatgen/core/structure.py
  tests/core/test_structure.py
  tests/electronic_structure/test_plotter.py
Labels: performance, imports, UX

#3569 Fix highly-nested parens when formula parsing in `Composition`
  pymatgen/core/composition.py
  tests/core/test_composition.py
Labels: fix, core

#3570 Add test for `NEBAnalysis.get_plot()`
  pymatgen/analysis/transition_state.py
  tests/analysis/test_transition_state.py
Labels: tests, data viz

#3573 Return `self` in `SiteCollection` spin/oxi state add/remove methods
  pymatgen/analysis/local_env.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/core/interface.py
  pymatgen/core/structure.py
  pymatgen/ext/cod.py
  pymatgen/io/ase.py
  pymatgen/io/cp2k/utils.py
  pymatgen/io/jarvis.py
  pymatgen/io/zeopp.py
  pymatgen/symmetry/analyzer.py
  pymatgen/transformations/standard_transformations.py
  tests/analysis/test_local_env.py
  tests/core/test_structure.py
  tests/transformations/test_advanced_transformations.py
Labels: api, core

#3574 Fix floating point imprecision error in ordering property of CollinearMagneticStructureAnalyzer
  pymatgen/analysis/magnetism/analyzer.py
  tests/analysis/magnetism/test_analyzer.py
  tests/files/magnetic.example.CuO.mcif.gz
Labels: fix, magmoms

#3575 `tests/io/aims` use `numpy.testing.assert_allclose` and `pytest.MonkeyPatch`
  examples/aims_io/FHI-aims-example.ipynb
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/io/aims/inputs.py
  pymatgen/io/vasp/outputs.py
  tests/core/test_structure.py
  tests/core/test_units.py
  tests/core/test_xcfunc.py
  tests/electronic_structure/test_bandstructure.py
  tests/electronic_structure/test_boltztrap.py
  tests/electronic_structure/test_dos.py
  tests/electronic_structure/test_plotter.py
  tests/entries/test_compatibility.py
  tests/entries/test_exp_entries.py
  tests/ext/test_matproj.py
  tests/io/abinit/test_pseudos.py
  tests/io/aims/test_aims_inputs.py
  tests/io/aims/test_aims_outputs.py
  tests/io/aims/test_aims_parsers.py
  tests/io/feff/test_inputs.py
  tests/io/feff/test_outputs.py
  tests/io/lammps/test_data.py
  tests/io/qchem/test_utils.py
  tests/io/test_ase.py
  tests/io/test_cif.py
  tests/io/test_gaussian.py
  tests/io/test_nwchem.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
  tests/io/vasp/test_sets.py
  tests/phonon/test_plotter.py
  tests/symmetry/test_analyzer.py
  tests/transformations/test_advanced_transformations.py
  tests/transformations/test_site_transformations.py
  tests/transformations/test_standard_transformations.py
  tests/util/test_provenance.py
Labels: tests, io

#3580 Support parsing of "final_energy" in Q-Chem 6.1.1
  pymatgen/io/qchem/outputs.py
  tests/files/qchem/6.1.1.wb97xv.out.gz
  tests/io/qchem/test_outputs.py
Labels: fix, qchem

#3577 Added threshold_ordering parameter to CollinearMagneticStructureAnalyzer in addition to PR #3574
  pymatgen/analysis/magnetism/analyzer.py
  tests/analysis/magnetism/test_analyzer.py
Labels: enhancement, needs testing, magmoms

#3585 Breaking: remove single-use `PolarizationLattice` which inherited from `Structure` (antipattern)
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/composition.py
  pymatgen/core/ion.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/adf.py
  pymatgen/io/lammps/data.py
  pymatgen/io/vasp/outputs.py
  tests/analysis/test_eos.py
  tests/analysis/test_structure_matcher.py
Labels: qa, breaking

#3587 Fix `Vasprun.get_potcars` search method; tweak fake POTCARs
  dev_scripts/potcar_scrambler.py
  pymatgen/core/__init__.py
  pymatgen/core/libxcfunc.py
  pymatgen/core/periodic_table.py
  pymatgen/core/xcfunc.py
  pymatgen/io/vasp/outputs.py
  requirements.txt
  setup.py
  tests/analysis/test_phase_diagram.py
  tests/files/POTCAR
  tests/files/fake_potcars/POTCAR.gz
  tests/files/fake_potcars/POTPAW_PBE_54/POTCAR.Al.gz
  tests/files/fake_potcars/POTPAW_PBE_54/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POTPAW_PBE_54/POTCAR.Si.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Fe.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Li_sv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Mn_pv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Na_pv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.O.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.P.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE/POTCAR.Si.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_52/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_52/POTCAR.O.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_52/POTCAR.P.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.Fe.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.Fe_O.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.Fe_pv_with_hash.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.Li_sv_GW.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.O.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.O_GW.gz
  tests/files/fake_potcars/POT_GGA_PAW_PBE_54/POTCAR.P.gz
  tests/files/fake_potcars/POT_LDA_PAW/POTCAR.Fe.gz
  tests/files/fake_potcars/POT_LDA_PAW/POTCAR.P.gz
  tests/files/fake_potcars/POT_LDA_PAW_64/POTCAR.Al.gz
  tests/files/fake_potcars/POT_LDA_PAW_64/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POT_LDA_PAW_64/POTCAR.Si.gz
  tests/files/fake_potcars/POT_PAW_PBE_64/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/POT_PAW_PBE_64/POTCAR.O.gz
  tests/files/fake_potcars/POT_PAW_PBE_64/POTCAR.P.gz
  tests/files/fake_potcars/modified_potcars_data/POT_GGA_PAW_PBE/POTCAR.Fe_pv.gz
  tests/files/fake_potcars/modified_potcars_data/POT_GGA_PAW_PBE_54/POTCAR.Fe_pv_with_hash.gz
  tests/files/fake_potcars/modified_potcars_header/POT_GGA_PAW_PBE/POTCAR.Fe_pv.gz
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
Labels: io, fix, vasp

#3482 Aims input sets
  pymatgen/io/aims/inputs.py
  pymatgen/io/aims/sets/__init__.py
  pymatgen/io/aims/sets/base.py
  pymatgen/io/aims/sets/bs.py
  pymatgen/io/aims/sets/core.py
  pymatgen/io/core.py
  pymatgen/util/testing/__init__.py
  pymatgen/util/testing/aims.py
  tests/io/__init__.py
  tests/io/aims/aims_input_generator_ref/relax-no-kgrid-si/aims.out.gz
  tests/io/aims/aims_input_generator_ref/relax-no-kgrid-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/relax-no-kgrid-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/relax-no-kgrid-si/parameters.json
  tests/io/aims/aims_input_generator_ref/relax-o2/aims.out.gz
  tests/io/aims/aims_input_generator_ref/relax-o2/control.in.gz
  tests/io/aims/aims_input_generator_ref/relax-o2/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/relax-o2/parameters.json
  tests/io/aims/aims_input_generator_ref/relax-si/aims.out.gz
  tests/io/aims/aims_input_generator_ref/relax-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/relax-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/relax-si/parameters.json
  tests/io/aims/aims_input_generator_ref/static-from-prev-no-kgrid-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-no-kgrid-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-no-kgrid-si/parameters.json
  tests/io/aims/aims_input_generator_ref/static-from-prev-o2/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-o2/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-o2/parameters.json
  tests/io/aims/aims_input_generator_ref/static-from-prev-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-from-prev-si/parameters.json
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/parameters.json
  tests/io/aims/aims_input_generator_ref/static-o2/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-o2/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-o2/parameters.json
  tests/io/aims/aims_input_generator_ref/static-si-bs-density/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs-density/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs-density/parameters.json
  tests/io/aims/aims_input_generator_ref/static-si-bs-output/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs-output/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs-output/parameters.json
  tests/io/aims/aims_input_generator_ref/static-si-bs/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-bs/parameters.json
  tests/io/aims/aims_input_generator_ref/static-si-gw/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-gw/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-si-gw/parameters.json
  tests/io/aims/aims_input_generator_ref/static-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-si/parameters.json
  tests/io/aims/conftest.py
  tests/io/aims/input_files/geometry.in.si.gz
  tests/io/aims/test_aims_inputs.py
  tests/io/aims/test_sets/test_bs_generator.py
  tests/io/aims/test_sets/test_gw_generator.py
  tests/io/aims/test_sets/test_input_set.py
  tests/io/aims/test_sets/test_relax_generator.py
  tests/io/aims/test_sets/test_static_generator.py
  tests/io/aims/test_sets/test_static_restart_from_relax_generator.py
Labels: enhancement, io

#3592 Adding FHI-aims inputs developers
  .pre-commit-config.yaml
  docs/assets/metadata.yml
  pymatgen/analysis/bond_valence.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/aims/sets/base.py
  pymatgen/io/aims/sets/core.py
  pymatgen/io/cp2k/utils.py
  pymatgen/io/nwchem.py
  pymatgen/io/qchem/outputs.py
  pymatgen/transformations/site_transformations.py
  pymatgen/util/graph_hashing.py
  pymatgen/util/testing/__init__.py
  tests/analysis/chemenv/coordination_environments/test_weights.py
  tests/io/aims/test_aims_parsers.py
Labels: housekeeping, docs

#3576 Add tests for the New Vasp input sets
  pymatgen/io/vasp/sets.py
  setup.py
  tests/io/vasp/test_sets.py
Labels: tests, io, vasp

#3596 Switch macOS wheel building to new M1 runners
  .github/workflows/release.yml
  pymatgen/analysis/chemenv/coordination_environments/chemenv_strategies.py
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/chemenv/coordination_environments/structure_environments.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/gb/grain.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/core/interface.py
  pymatgen/core/lattice.py
  pymatgen/core/operations.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/tensors.py
  pymatgen/electronic_structure/boltztrap2.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/entries/compatibility.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/ext/optimade.py
  pymatgen/io/aims/outputs.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/outputs.py
  pymatgen/io/phonopy.py
  pymatgen/io/qchem/outputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/symmetry/kpath.py
  pymatgen/transformations/site_transformations.py
  pymatgen/transformations/standard_transformations.py
  pymatgen/util/due.py
  pymatgen/util/graph_hashing.py
  pymatgen/util/testing/__init__.py
  tests/analysis/test_phase_diagram.py
  tests/analysis/test_structure_matcher.py
  tests/symmetry/test_site_symmetries.py
Labels: ci, pkg
