Repository materialsproject/pymatgen, pull requests merged in 2024-02, with the labels that each got.

#3610 Add `SiteCollection.reduced_formula` property
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/analysis/magnetism/jahnteller.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/core/structure.py
  pymatgen/entries/entry_tools.py
  pymatgen/io/feff/inputs.py
  tests/alchemy/test_materials.py
  tests/core/test_structure.py
  tests/ext/test_matproj.py
  tests/io/feff/test_inputs.py
  tests/io/lammps/test_data.py
  tests/io/test_jarvis.py
  tests/io/vasp/test_outputs.py
Labels: enhancement, core

#3602 VASP IO `copy()` methods
  pymatgen/core/lattice.py
  pymatgen/core/spectrum.py
  pymatgen/core/structure.py
  pymatgen/core/tensors.py
  pymatgen/core/units.py
  pymatgen/io/abinit/abitimer.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/lammps/data.py
  pymatgen/io/vasp/inputs.py
  pymatgen/symmetry/structure.py
  tests/io/vasp/test_inputs.py
Labels: enhancement, io, vasp

#3572 Breaking: fix SubstrateAnalyzer film + substrate vectors not using original crystal coordinates
  pymatgen/analysis/interfaces/substrate_analyzer.py
  pymatgen/analysis/interfaces/zsl.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/io/aims/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/sets.py
  tests/analysis/interfaces/test_substrate_analyzer.py
Labels: breaking, analysis, UX, surfaces

#3617 Revert back TransformedStructure.__getattr__
  .github/CODEOWNERS
  docs/usage.md
  pymatgen/alchemy/materials.py
  pymatgen/symmetry/analyzer.py
  tests/alchemy/test_materials.py
  tests/alchemy/test_transmuters.py
Labels: fix, trafos

#3539 Handle invalid selective dynamics info in POSCAR
  pymatgen/entries/compatibility.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: enhancement, io, vasp

#3620 Refactors + types + fix doc string returns to use Google format
  dev_scripts/update_pt_data.py
  pymatgen/alchemy/filters.py
  pymatgen/analysis/chempot_diagram.py
  pymatgen/analysis/diffraction/neutron.py
  pymatgen/analysis/diffraction/xrd.py
  pymatgen/analysis/ewald.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/molecule_matcher.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/pourbaix_diagram.py
  pymatgen/analysis/structure_matcher.py
  pymatgen/analysis/structure_prediction/volume_predictor.py
  pymatgen/analysis/transition_state.py
  pymatgen/analysis/wulff.py
  pymatgen/analysis/xas/spectrum.py
  pymatgen/cli/pmg_structure.py
  pymatgen/core/composition.py
  pymatgen/core/lattice.py
  pymatgen/core/periodic_table.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/electronic_structure/plotter.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/cp2k/sets.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/phonopy.py
  pymatgen/transformations/advanced_transformations.py
  tests/alchemy/test_materials.py
  tests/analysis/test_energy_models.py
  tests/analysis/test_ewald.py
  tests/analysis/test_graphs.py
  tests/analysis/test_molecule_matcher.py
  tests/analysis/test_pourbaix_diagram.py
  tests/analysis/test_reaction_calculator.py
  tests/analysis/test_structure_matcher.py
  tests/core/test_structure.py
  tests/core/test_surface.py
  tests/core/test_tensors.py
  tests/core/test_trajectory.py
  tests/io/test_cif.py
  tests/util/test_string.py
Labels: housekeeping

#3623 Return `self` from all `SiteCollection/Structure/Molecule` in-place modification methods
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  tests/core/test_structure.py
  tests/core/test_surface.py
  tests/files/.pytest-split-durations
Labels: enhancement, api, core

#3625 Fixed Incar object to allow for ML_MODE vasp tag
  pymatgen/core/units.py
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: io, fix, vasp

#3615 Add missing `MPSCANRelaxSet.yaml` parameters and alphabetize
  pymatgen/io/vasp/MPSCANRelaxSet.yaml
  tests/io/vasp/test_sets.py
Labels: io, fix, vasp, ecosystem

#3630 Make the POTCAR setup instructions clearer
  docs/installation.md
Labels: io, docs, vasp, UX

#3632 Fix `bader_analysis_from_path` using warning as file path and reinstate test
  pymatgen/command_line/bader_caller.py
  tests/command_line/test_bader_caller.py
Labels: fix, analysis

#3624 [WIP] Lobsterenv improvements
  pymatgen/io/lobster/lobsterenv.py
  tests/io/lobster/test_lobsterenv.py
Labels: breaking, api, lobster

#3635 Speeding up `get_nn_info` in local_env.py
  pymatgen/analysis/local_env.py
  pymatgen/core/structure.py
Labels: performance, analysis, nn

#3634 Modify `BadInputSetWarning` logic for relaxations of a likely metal
  pymatgen/io/vasp/sets.py
  tests/files/.pytest-split-durations
  tests/io/vasp/test_sets.py
Labels: io, vasp, ux

#3628 Modified CifParser.check() as one possible solution for issue #3626
  pymatgen/io/cif.py
  tests/io/test_cif.py
Labels: enhancement, io, ux, cif

#3642 Remove properties from abivars dict as this breaks the interface with…
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/netcdf.py
  tests/core/test_structure.py
  tests/io/abinit/test_abiobjects.py
  tests/io/abinit/test_netcdf.py
Labels: io, fix

#3566 Alias `VaspInputSet` to `VaspInputGenerator`
  pymatgen/io/vasp/sets.py
  tests/io/vasp/test_sets.py
Labels: io, vasp

#3509 Add capability for Vasprun to read KPOINTS_OPT data
  dev_scripts/regen_libxcfunc.py
  pymatgen/io/vasp/outputs.py
  tests/apps/borg/test_queen.py
  tests/files/kpoints_opt/KPOINTS
  tests/files/kpoints_opt/KPOINTS_OPT
  tests/files/kpoints_opt/vasprun.xml.gz
  tests/io/vasp/test_outputs.py
Labels: enhancement, io, vasp

#3650 `Kpoint.__eq__` and `PhononBandStructureSymmLine.__eq__` methods + tests
  pymatgen/electronic_structure/bandstructure.py
  pymatgen/phonon/bandstructure.py
  pymatgen/phonon/plotter.py
  tests/electronic_structure/test_bandstructure.py
  tests/phonon/test_bandstructure.py
Labels: enhancement, electronic structure, phonon

#3651 Fix `BSPlotterProjected.get_projected_plots_dots_patom_pmorb` fix set & list intersect
  pymatgen/electronic_structure/plotter.py
  tests/electronic_structure/test_plotter.py
Labels: fix, data viz, electronic structure

#3649 LOBSTER IO improvements
  pymatgen/io/lobster/outputs.py
  tests/io/lobster/test_inputs.py
Labels: enhancement, io, ux, lobster

#3621 Improve INCAR tag check
  pymatgen/io/vasp/incar_parameters.json
  pymatgen/io/vasp/inputs.py
Labels: io, vasp, types

#3345 Remove rounding during FEFF writing
  pymatgen/io/feff/inputs.py
Labels: stale, io, fix

#3657 Fix `get_niggli_reduced_lattice` if entering A1 case
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/lattice.py
  tests/core/test_lattice.py
Labels: fix, symmetry, core

#3659 Use `np.eye(3)` instead of `[[1, 0, 0], [0, 1, 0], [0, 0, 1]]` for identies
  pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  pymatgen/analysis/dimensionality.py
  pymatgen/analysis/gb/grain.py
  pymatgen/core/lattice.py
  pymatgen/core/structure.py
  pymatgen/electronic_structure/boltztrap.py
  pymatgen/ext/matproj_legacy.py
  pymatgen/symmetry/kpath.py
  pymatgen/vis/structure_vtk.py
  tests/analysis/test_local_env.py
  tests/analysis/test_structure_matcher.py
  tests/command_line/test_enumlib_caller.py
  tests/command_line/test_gulp_caller.py
  tests/core/test_lattice.py
  tests/core/test_sites.py
  tests/core/test_structure.py
  tests/electronic_structure/test_core.py
  tests/ext/test_matproj.py
  tests/io/cp2k/test_outputs.py
  tests/io/test_phonopy.py
  tests/io/vasp/test_outputs.py
  tests/symmetry/test_kpath_sc.py
  tests/symmetry/test_settings.py
  tests/transformations/test_site_transformations.py
  tests/util/test_provenance.py
  tests/util/test_string.py
Labels: housekeeping

#3661 Fix installation.md formatting
  docs/installation.md
Labels: outdated, docs

#3662 Remove BadPoscarWarning when POSCAR elements set by POTCAR
  .pre-commit-config.yaml
  dev_scripts/potcar_scrambler.py
  pymatgen/analysis/chemenv/utils/scripts_utils.py
  pymatgen/analysis/ferroelectricity/polarization.py
  pymatgen/analysis/functional_groups.py
  pymatgen/analysis/thermochemistry.py
  pymatgen/apps/battery/plotter.py
  pymatgen/cli/pmg_potcar.py
  pymatgen/io/aims/outputs.py
  pymatgen/io/aims/parsers.py
  pymatgen/io/aims/sets/base.py
  pymatgen/io/aims/sets/bs.py
  pymatgen/io/aims/sets/core.py
  pymatgen/io/cif.py
  pymatgen/io/feff/outputs.py
  pymatgen/io/lammps/utils.py
  pymatgen/io/lmto.py
  pymatgen/io/pwmat/__init__.py
  pymatgen/io/vasp/inputs.py
  pymatgen/symmetry/groups.py
  pymatgen/util/io_utils.py
  tests/analysis/diffraction/__init__.py
  tests/apps/borg/test_queen.py
  tests/command_line/test_bader_caller.py
  tests/io/aims/test_sets/test_bs_generator.py
  tests/io/aims/test_sets/test_gw_generator.py
  tests/io/aims/test_sets/test_static_restart_from_relax_generator.py
Labels: io, vasp, ux
