Repository materialsproject/pymatgen, pull requests merged in 2024-09, with the labels that each got.

#4027 Recover commented out code in tests and mark with `pytest.mark.skip` instead
  tests/analysis/chemenv/coordination_environments/test_coordination_geometry_finder.py
  tests/analysis/test_molecule_structure_comparator.py
  tests/analysis/test_surface_analysis.py
  tests/command_line/test_critic2_caller.py
  tests/core/test_structure.py
  tests/electronic_structure/test_boltztrap.py
  tests/electronic_structure/test_boltztrap2.py
  tests/electronic_structure/test_dos.py
  tests/ext/test_matproj.py
  tests/io/lobster/test_lobsterenv.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_sets.py
  tests/phonon/test_dos.py
Labels: tests, linting

#4032 Fix missing `/src` in doc links to source code
  docs/apidoc/conf.py
  docs/pymatgen.alchemy.html
  docs/pymatgen.analysis.chemenv.connectivity.html
  docs/pymatgen.analysis.chemenv.coordination_environments.html
  docs/pymatgen.analysis.chemenv.utils.html
  docs/pymatgen.analysis.diffraction.html
  docs/pymatgen.analysis.elasticity.html
  docs/pymatgen.analysis.ferroelectricity.html
  docs/pymatgen.analysis.html
  docs/pymatgen.analysis.interfaces.html
  docs/pymatgen.analysis.magnetism.html
  docs/pymatgen.analysis.solar.html
  docs/pymatgen.analysis.structure_prediction.html
  docs/pymatgen.analysis.topological.html
  docs/pymatgen.analysis.xas.html
  docs/pymatgen.apps.battery.html
  docs/pymatgen.apps.borg.html
  docs/pymatgen.cli.html
  docs/pymatgen.command_line.html
  docs/pymatgen.core.html
  docs/pymatgen.electronic_structure.html
  docs/pymatgen.entries.html
  docs/pymatgen.ext.html
  docs/pymatgen.html
  docs/pymatgen.io.abinit.html
  docs/pymatgen.io.aims.html
  docs/pymatgen.io.aims.sets.html
  docs/pymatgen.io.cp2k.html
  docs/pymatgen.io.exciting.html
  docs/pymatgen.io.feff.html
  docs/pymatgen.io.html
  docs/pymatgen.io.lammps.html
  docs/pymatgen.io.lobster.html
  docs/pymatgen.io.pwmat.html
  docs/pymatgen.io.qchem.html
  docs/pymatgen.io.vasp.html
  docs/pymatgen.io.xtb.html
  docs/pymatgen.optimization.html
  docs/pymatgen.phonon.html
  docs/pymatgen.symmetry.html
  docs/pymatgen.transformations.html
  docs/pymatgen.util.html
  docs/pymatgen.util.testing.html
  docs/pymatgen.vis.html
Labels: fix, docs

#4020 Add unit test for `io.vasp.help`
  CONTRIBUTING.md
  README.md
  dev_scripts/update_pt_data.py
  docs/index.md
  pyproject.toml
  src/pymatgen/ext/cod.py
  src/pymatgen/ext/matproj_legacy.py
  src/pymatgen/io/core.py
  src/pymatgen/io/vasp/help.py
  tasks.py
  tests/core/test_structure.py
  tests/ext/test_cod.py
  tests/ext/test_matproj.py
  tests/ext/test_optimade.py
  tests/io/vasp/test_help.py
Labels: tests, io, vasp

#4034 Fix `LNONCOLLINEAR` match in `Outcar` parser
  src/pymatgen/io/vasp/outputs.py
  tests/io/vasp/test_outputs.py
Labels: io, fix, vasp

#3985 Install optional boltztrap, vampire and openbabel in CI
  .github/workflows/test.yml
  dev_scripts/update_spacegroup_data.py
  pyproject.toml
  requirements.txt
  src/pymatgen/analysis/interfaces/zsl.py
  src/pymatgen/analysis/piezo_sensitivity.py
  src/pymatgen/command_line/chargemol_caller.py
  src/pymatgen/command_line/vampire_caller.py
  src/pymatgen/electronic_structure/boltztrap2.py
  tests/analysis/test_bond_dissociation.py
  tests/analysis/test_fragmenter.py
  tests/analysis/test_functional_groups.py
  tests/analysis/test_molecule_matcher.py
  tests/analysis/test_piezo_sensitivity.py
  tests/command_line/test_vampire_caller.py
  tests/electronic_structure/test_boltztrap.py
  tests/electronic_structure/test_boltztrap2.py
  tests/electronic_structure/test_plotter.py
  tests/ext/test_cod.py
  tests/io/qchem/test_outputs.py
  tests/io/test_ase.py
  tests/io/test_babel.py
  tests/io/test_phonopy.py
  tests/transformations/test_advanced_transformations.py
Labels: dependencies, ci

#4048 Pascal-case `PMG_VASP_PSP_DIR_Error`
  src/pymatgen/io/vasp/inputs.py
  src/pymatgen/io/vasp/sets.py
Labels: io, vasp, breaking

#4052 Fix in-place `VaspInput.incar` updates having no effect if `incar` is dict (not `Incar` instance)
  src/pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
Labels: io, fix, vasp

#3878 Add modification to aims input to match atomate2 magnetic order script
  src/pymatgen/io/aims/inputs.py
  src/pymatgen/io/aims/parsers.py
  src/pymatgen/io/aims/sets/core.py
  src/pymatgen/io/aims/sets/magnetism.py
  tests/files/io/aims/output_files/h2o_ref.json.gz
  tests/files/io/aims/parser_checks/calc_chunk.out.gz
  tests/io/aims/test_inputs.py
  tests/io/aims/test_parsers.py
Labels: enhancement, io, magmoms, ecosystem

#4054 Make AimsSpeciesFile a dataclass
  src/pymatgen/io/aims/inputs.py
Labels: io, refactor

#4053 Avoid importing namespace package `pymatgen` directly
  docs/apidoc/pymatgen.io.aims.sets.rst
  docs/index.md
  docs/modules.html
  docs/pymatgen.analysis.html
  docs/pymatgen.analysis.interfaces.html
  docs/pymatgen.command_line.html
  docs/pymatgen.electronic_structure.html
  docs/pymatgen.html
  docs/pymatgen.io.aims.html
  docs/pymatgen.io.aims.sets.html
  docs/pymatgen.io.html
  docs/pymatgen.io.lobster.html
  docs/pymatgen.io.vasp.html
  pyproject.toml
  src/pymatgen/io/openff.py
  tests/analysis/test_piezo_sensitivity.py
  tests/core/test_surface.py
  tests/entries/test_compatibility.py
Labels: pkg, best practice

#4055 Fix typo in `Cp2kOutput.parse_hirshfeld` `add_site_property("hirshf[i->'']eld")`
  src/pymatgen/analysis/chemenv/coordination_environments/coordination_geometries.py
  src/pymatgen/analysis/chemenv/utils/defs_utils.py
  src/pymatgen/analysis/chemenv/utils/scripts_utils.py
  src/pymatgen/analysis/chempot_diagram.py
  src/pymatgen/analysis/diffraction/core.py
  src/pymatgen/analysis/ferroelectricity/polarization.py
  src/pymatgen/analysis/hhi.py
  src/pymatgen/analysis/local_env.py
  src/pymatgen/analysis/magnetism/heisenberg.py
  src/pymatgen/analysis/phase_diagram.py
  src/pymatgen/analysis/piezo_sensitivity.py
  src/pymatgen/analysis/quasirrho.py
  src/pymatgen/analysis/solar/slme.py
  src/pymatgen/analysis/structure_analyzer.py
  src/pymatgen/analysis/structure_prediction/volume_predictor.py
  src/pymatgen/analysis/wulff.py
  src/pymatgen/command_line/enumlib_caller.py
  src/pymatgen/core/interface.py
  src/pymatgen/electronic_structure/bandstructure.py
  src/pymatgen/electronic_structure/cohp.py
  src/pymatgen/electronic_structure/dos.py
  src/pymatgen/electronic_structure/plotter.py
  src/pymatgen/io/abinit/netcdf.py
  src/pymatgen/io/adf.py
  src/pymatgen/io/common.py
  src/pymatgen/io/cp2k/inputs.py
  src/pymatgen/io/cp2k/outputs.py
  src/pymatgen/io/fiesta.py
  src/pymatgen/io/gaussian.py
  src/pymatgen/io/lammps/data.py
  src/pymatgen/io/lobster/outputs.py
  src/pymatgen/io/openff.py
  src/pymatgen/io/pwmat/outputs.py
  src/pymatgen/io/qchem/utils.py
  src/pymatgen/io/vasp/optics.py
  src/pymatgen/io/vasp/outputs.py
  src/pymatgen/io/xtb/outputs.py
  src/pymatgen/phonon/bandstructure.py
  src/pymatgen/phonon/gruneisen.py
  src/pymatgen/phonon/thermal_displacements.py
  src/pymatgen/symmetry/analyzer.py
  src/pymatgen/symmetry/kpath.py
  src/pymatgen/symmetry/maggroups.py
  src/pymatgen/transformations/site_transformations.py
  src/pymatgen/util/coord.py
  src/pymatgen/util/plotting.py
  src/pymatgen/vis/structure_vtk.py
  tests/core/test_lattice.py
  tests/core/test_surface.py
  tests/core/test_trajectory.py
  tests/electronic_structure/test_cohp.py
  tests/electronic_structure/test_dos.py
  tests/io/lammps/test_utils.py
  tests/io/vasp/test_outputs.py
Labels: fix, linting, refactor

#4057 Fix `apply_operation(fractional=True)`
  src/pymatgen/core/structure.py
  tests/core/test_structure.py
Labels: fix, symmetry, core

#3927 Fix `lll_reduce` for slab generation
  src/pymatgen/analysis/interfaces/coherent_interfaces.py
  src/pymatgen/core/interface.py
  src/pymatgen/core/surface.py
  tests/analysis/interfaces/test_coherent_interface.py
  tests/core/test_surface.py
Labels: fix, surfaces

#4063 (Not) Use `setup-uv` in CI tests workflow
  .github/workflows/test.yml
Labels: performance, github actions, ci

#4067 Fix all `ruff` DOC202
  pyproject.toml
  src/pymatgen/alchemy/filters.py
  src/pymatgen/alchemy/materials.py
  src/pymatgen/alchemy/transmuters.py
  src/pymatgen/analysis/adsorption.py
  src/pymatgen/analysis/bond_valence.py
  src/pymatgen/analysis/chemenv/connectivity/connected_components.py
  src/pymatgen/analysis/chemenv/coordination_environments/voronoi.py
  src/pymatgen/analysis/interfaces/zsl.py
  src/pymatgen/analysis/piezo_sensitivity.py
  src/pymatgen/core/composition.py
  src/pymatgen/ext/matproj_legacy.py
  src/pymatgen/io/fiesta.py
  src/pymatgen/io/icet.py
  src/pymatgen/io/vasp/outputs.py
  src/pymatgen/transformations/advanced_transformations.py
Labels: linting
