Repository materialsproject/pymatgen, pull requests merged in 2024-07, with the labels that each got.

#3859 SpaceGroup changes
  dev_scripts/update_spacegroup_data.py
  docs/compatibility.md
  src/pymatgen/symmetry/groups.py
  src/pymatgen/symmetry/symm_data.json
  src/pymatgen/symmetry/symm_ops.json
  tests/analysis/test_piezo.py
  tests/core/test_surface.py
  tests/files/.pytest-split-durations
  tests/io/lobster/test_lobsterenv.py
  tests/io/test_pwscf.py
  tests/io/vasp/test_sets.py
  tests/symmetry/test_groups.py
Labels: fix, breaking, symmetry

#3900 Improve Keep Redundant Spaces algorithm for PatchedPhaseDiagram
  src/pymatgen/analysis/phase_diagram.py
  tests/analysis/test_phase_diagram.py
Labels: enhancement, performance

#3929 Replace expired BoltzTraP link
  .gitignore
  src/pymatgen/electronic_structure/boltztrap.py
Labels: docs, electronic structure

#3945 Correct method `get_projection_on_elements` docstring under `Procar` class
  .pre-commit-config.yaml
  src/pymatgen/io/vasp/outputs.py
Labels: io, docs, vasp

#3949 Allow custom `.pmgrc.yaml` location via new `PMG_CONFIG_FILE` env var
  src/pymatgen/core/__init__.py
  tests/core/test_settings.py
Labels: enhancement, io, cli
