Repository materialsproject/pymatgen, pull requests merged in 2024-06, with the labels that each got.

#3852 Run CI with two different `uv` resolution strategies: `highest` and `lowest-direct`
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pymatgen/alchemy/materials.py
  pymatgen/analysis/chemenv/connectivity/structure_connectivity.py
  pymatgen/analysis/elasticity/elastic.py
  pymatgen/core/structure.py
  pymatgen/io/abinit/inputs.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/adf.py
  pymatgen/io/common.py
  pymatgen/io/core.py
  pymatgen/io/cssr.py
  pymatgen/io/exciting/inputs.py
  pymatgen/io/feff/inputs.py
  pymatgen/io/feff/sets.py
  pymatgen/io/fiesta.py
  pymatgen/io/gaussian.py
  pymatgen/io/lammps/data.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lammps/utils.py
  pymatgen/io/lmto.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/pwscf.py
  pymatgen/io/qchem/inputs.py
  pymatgen/io/shengbte.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/io/wannier90.py
  pymatgen/io/xr.py
  pymatgen/io/xyz.py
  pyproject.toml
  requirements-optional.txt
  setup.py
  tests/io/exciting/test_inputs.py
  tests/io/test_atat.py
  tests/io/test_cif.py
  tests/io/test_shengbte.py
  tests/io/test_xcrysden.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_outputs.py
  tests/symmetry/test_maggroups.py
  tests/symmetry/test_settings.py
Labels: fix, imports, core

#3853 Fix filter condition for warn msg of unphysical site occupancy in `io.cif`
  pymatgen/io/cif.py
  tests/io/test_cif.py
Labels: tests, fix, cif

#3857 Add CI run without `'optional'` deps installed
  .github/workflows/test.yml
  dev_scripts/update_pt_data.py
  docs/apidoc/conf.py
  pymatgen/analysis/magnetism/analyzer.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/command_line/gulp_caller.py
  pymatgen/core/periodic_table.py
  pymatgen/core/trajectory.py
  pymatgen/entries/computed_entries.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/abinit/variable.py
  pymatgen/io/ase.py
  pymatgen/io/cif.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/nwchem.py
  pymatgen/symmetry/analyzer.py
  setup.py
  tests/core/test_trajectory.py
  tests/io/pwmat/test_inputs.py
  tests/io/test_ase.py
Labels: tests, ci, pkg, ecosystem

#3858 Add new `.pmgrc.yaml` setting `PMG_VASP_PSP_SUB_DIRS: dict[str, str]`
  .github/workflows/test.yml
  pymatgen/io/vasp/inputs.py
  tests/io/vasp/test_inputs.py
  tests/io/vasp/test_sets.py
Labels: enhancement, io, vasp, ux

#3864 Add property `chemical_system_set` to `Composition` and `SiteCollection`
  pymatgen/analysis/chemenv/utils/coordination_geometry_utils.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/magnetism/jahnteller.py
  pymatgen/analysis/phase_diagram.py
  pymatgen/analysis/piezo_sensitivity.py
  pymatgen/analysis/structure_analyzer.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/composition.py
  pymatgen/core/periodic_table.py
  pymatgen/core/structure.py
  pymatgen/io/exciting/inputs.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/xtb/outputs.py
  tests/core/test_composition.py
  tests/core/test_structure.py
Labels: enhancement, core

#3822 Add types annotations for `core.interface`
  pymatgen/analysis/diffraction/tem.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/interfaces/coherent_interfaces.py
  pymatgen/analysis/interfaces/substrate_analyzer.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/surface_analysis.py
  pymatgen/core/composition.py
  pymatgen/core/interface.py
  pymatgen/core/surface.py
  pymatgen/core/xcfunc.py
  pymatgen/electronic_structure/dos.py
  pymatgen/ext/optimade.py
  pymatgen/io/abinit/abiobjects.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/adf.py
  pymatgen/io/aims/inputs.py
  pymatgen/io/aims/parsers.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/fiesta.py
  pymatgen/io/lobster/inputs.py
  pymatgen/io/nwchem.py
  pymatgen/io/pwmat/outputs.py
  pymatgen/io/pwscf.py
  pymatgen/io/res.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/bandstructure.py
  pymatgen/symmetry/groups.py
  pymatgen/util/typing.py
  pymatgen/vis/structure_vtk.py
  tests/core/test_interface.py
Labels: types, core, surfaces

#3863 Replace hard coded class names, add types for `io.vasp.sets`
  pymatgen/analysis/cost.py
  pymatgen/analysis/graphs.py
  pymatgen/analysis/local_env.py
  pymatgen/analysis/quasiharmonic.py
  pymatgen/analysis/structure_prediction/substitution_probability.py
  pymatgen/command_line/bader_caller.py
  pymatgen/core/composition.py
  pymatgen/core/ion.py
  pymatgen/core/lattice.py
  pymatgen/core/operations.py
  pymatgen/core/periodic_table.py
  pymatgen/core/sites.py
  pymatgen/core/spectrum.py
  pymatgen/core/structure.py
  pymatgen/core/surface.py
  pymatgen/core/tensors.py
  pymatgen/core/trajectory.py
  pymatgen/core/units.py
  pymatgen/electronic_structure/cohp.py
  pymatgen/io/abinit/__init__.py
  pymatgen/io/abinit/netcdf.py
  pymatgen/io/abinit/pseudos.py
  pymatgen/io/cif.py
  pymatgen/io/cp2k/inputs.py
  pymatgen/io/cp2k/outputs.py
  pymatgen/io/lammps/inputs.py
  pymatgen/io/lammps/utils.py
  pymatgen/io/lobster/lobsterenv.py
  pymatgen/io/lobster/outputs.py
  pymatgen/io/vasp/inputs.py
  pymatgen/io/vasp/outputs.py
  pymatgen/io/vasp/sets.py
  pymatgen/phonon/ir_spectra.py
  tests/io/exciting/test_inputs.py
  tests/io/vasp/test_sets.py
Labels: io, linting, vasp, types

#3868 Bug fix: handle non-integer oxidation states in `Species`
  pymatgen/core/periodic_table.py
  tests/core/test_periodic_table.py
Labels: fix, core

#3848 Simplify case handling in `lobster.inputs`
  pymatgen/io/lobster/inputs.py
  pymatgen/io/vasp/inputs.py
  tests/io/lobster/test_inputs.py
Labels: io, housekeeping, lobster

#3869 Slightly more robust `MSONAtoms` handling
  pymatgen/io/ase.py
Labels: ase, invalid, serialization

#3803 Add `strict_anions` option to `MaterialsProject2020Compatibility`
  pymatgen/entries/compatibility.py
  tests/entries/test_compatibility.py
Labels: needs discussion, breaking, ecosystem

#3866 Bug fix: fixed the leading capitalized ALGO in Vasprun
  pymatgen/io/vasp/outputs.py
Labels: needs testing, io, fix, vasp
