Repository materialsproject/pymatgen, pull requests merged in 2024-08, with the labels that each got.

#3970 Dedup `numpy`dependency in `pyproject`
  pyproject.toml
  src/pymatgen/symmetry/analyzer.py
  src/pymatgen/symmetry/kpath.py
  src/pymatgen/symmetry/maggroups.py
  src/pymatgen/symmetry/structure.py
  tests/analysis/test_local_env.py
Labels: dependencies, fix

#3786 Install some optional dependencies in CI
  .github/workflows/test.yml
  pyproject.toml
  src/pymatgen/analysis/graphs.py
  src/pymatgen/electronic_structure/boltztrap2.py
  tests/command_line/test_bader_caller.py
  tests/electronic_structure/test_boltztrap2.py
  tests/ext/test_cod.py
Labels: tests, ci, pkg

#3932 Fix d2k function
  src/pymatgen/io/aims/sets/base.py
  src/pymatgen/util/testing/aims.py
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/control.in.gz
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/geometry.in.gz
  tests/io/aims/aims_input_generator_ref/static-no-kgrid-si/parameters.json
  tests/io/aims/test_sets/test_static_generator.py
Labels: io, fix

#3876 Add OPTIMADE adapter
  src/pymatgen/io/optimade.py
  tests/io/test_optimade.py
Labels: enhancement, ext

#3865 Split VASP input sets into submodules
  .pre-commit-config.yaml
  pyproject.toml
  src/pymatgen/io/vasp/sets/__init__.py
  src/pymatgen/io/vasp/sets/base.py
  src/pymatgen/io/vasp/sets/lobster.py
  src/pymatgen/io/vasp/sets/matpes.py
  src/pymatgen/io/vasp/sets/mit.py
  src/pymatgen/io/vasp/sets/mp.py
  src/pymatgen/io/vasp/sets/mvl.py
  tests/io/vasp/test_sets.py
Labels: io, vasp, dx

#3978 Check Inputs to Trajectory.
  src/pymatgen/core/trajectory.py
  tests/core/test_trajectory.py
Labels: enhancement, ux, core

#3894 build against NPY2
  pyproject.toml
  src/pymatgen/analysis/eos.py
  src/pymatgen/optimization/linear_assignment.pyx
  src/pymatgen/optimization/neighbors.pyx
  src/pymatgen/util/coord_cython.pyx
  tests/analysis/elasticity/test_elastic.py
  tests/analysis/elasticity/test_stress.py
  tests/analysis/test_piezo_sensitivity.py
  tests/core/test_structure.py
  tests/io/test_phonopy.py
  tests/io/vasp/test_optics.py
  tests/io/vasp/test_outputs.py
Labels: compatability, pkg

#3977 Fix `mypy` errors on master branch
  src/pymatgen/analysis/structure_prediction/substitution_probability.py
  src/pymatgen/core/periodic_table.py
  src/pymatgen/entries/compatibility.py
  src/pymatgen/entries/mixing_scheme.py
  src/pymatgen/io/packmol.py
  src/pymatgen/symmetry/analyzer.py
  src/pymatgen/transformations/site_transformations.py
  src/pymatgen/util/io_utils.py
Labels: fix, linting, types

#4003 Fix failing ruff `PT001` on master
  .pre-commit-config.yaml
  tests/core/test_xcfunc.py
  tests/entries/test_mixing_scheme.py
  tests/io/aims/test_aims_parsers.py
  tests/io/qchem/test_outputs.py
  tests/io/test_openff.py
  tests/test_cli.py
Labels: linting

#4012 Fix ruff PD901 and prefer `sum` over `len`+`if`
  pyproject.toml
  src/pymatgen/analysis/chemenv/utils/scripts_utils.py
  src/pymatgen/analysis/functional_groups.py
  src/pymatgen/analysis/magnetism/heisenberg.py
  src/pymatgen/analysis/phase_diagram.py
  src/pymatgen/command_line/vampire_caller.py
  src/pymatgen/core/lattice.py
  src/pymatgen/core/structure.py
  src/pymatgen/core/surface.py
  src/pymatgen/electronic_structure/cohp.py
  src/pymatgen/entries/mixing_scheme.py
  src/pymatgen/io/cp2k/outputs.py
  src/pymatgen/io/lammps/data.py
  src/pymatgen/io/lammps/outputs.py
  tests/analysis/test_adsorption.py
  tests/analysis/test_interface_reactions.py
  tests/io/vasp/test_sets.py
Labels: fix, linting

#3967 Add VASP setting for the dftd4 vdW functional and extend PBE_64 support.
  src/pymatgen/io/vasp/sets.py
  src/pymatgen/io/vasp/vdW_parameters.yaml
  tests/io/vasp/test_sets.py
Labels: enhancement, io, vasp

#3992 Explicitly use `int64` in Numpy/cython code to avoid OS inconsistency
  .github/workflows/test.yml
  pyproject.toml
  src/pymatgen/analysis/chemenv/coordination_environments/coordination_geometry_finder.py
  src/pymatgen/analysis/chemenv/utils/graph_utils.py
  src/pymatgen/analysis/local_env.py
  src/pymatgen/analysis/molecule_matcher.py
  src/pymatgen/analysis/structure_matcher.py
  src/pymatgen/analysis/topological/spillage.py
  src/pymatgen/core/interface.py
  src/pymatgen/core/lattice.py
  src/pymatgen/core/structure.py
  src/pymatgen/core/surface.py
  src/pymatgen/electronic_structure/boltztrap.py
  src/pymatgen/io/abinit/abiobjects.py
  src/pymatgen/io/lmto.py
  src/pymatgen/optimization/linear_assignment.pyx
  src/pymatgen/optimization/neighbors.pyx
  src/pymatgen/phonon/bandstructure.py
  src/pymatgen/util/coord.py
  src/pymatgen/util/coord_cython.pyx
  tests/analysis/chemenv/connectivity/test_connected_components.py
  tests/core/test_lattice.py
  tests/core/test_structure.py
  tests/core/test_units.py
  tests/optimization/test_neighbors.py
Labels: compatability, cython, ecosystem

#4014 Remove the skip mark for test_delta_func
  pyproject.toml
  tests/io/vasp/test_optics.py
Labels: tests, windows

#3887 Improve type annotations for `io.lobster.{lobsterenv/outputs}`
  src/pymatgen/io/lobster/__init__.py
  src/pymatgen/io/lobster/inputs.py
  src/pymatgen/io/lobster/lobsterenv.py
  src/pymatgen/io/lobster/outputs.py
  src/pymatgen/io/vasp/inputs.py
  src/pymatgen/io/vasp/outputs.py
  tests/io/lobster/test_inputs.py
  tests/io/lobster/test_outputs.py
Labels: types, lobster

#3890 Add SOC & multiple `PROCAR` parsing functionalities
  src/pymatgen/io/vasp/outputs.py
  tests/files/io/vasp/outputs/PROCAR.SOC.gz
  tests/files/io/vasp/outputs/PROCAR.split1.gz
  tests/files/io/vasp/outputs/PROCAR.split2.gz
  tests/io/vasp/test_outputs.py
Labels: enhancement, io, vasp

#4017 Fix `S101`, replace all `assert` in code base (except for tests)
  dev_scripts/chemenv/explicit_permutations_plane_algorithm.py
  dev_scripts/chemenv/get_plane_permutations_optimized.py
  dev_scripts/regen_libxcfunc.py
  dev_scripts/update_pt_data.py
  pyproject.toml
  src/pymatgen/alchemy/transmuters.py
  src/pymatgen/analysis/diffraction/xrd.py
  src/pymatgen/analysis/elasticity/elastic.py
  src/pymatgen/analysis/phase_diagram.py
  src/pymatgen/analysis/structure_prediction/substitution_probability.py
  src/pymatgen/analysis/structure_prediction/volume_predictor.py
  src/pymatgen/apps/battery/conversion_battery.py
  src/pymatgen/command_line/gulp_caller.py
  src/pymatgen/core/interface.py
  src/pymatgen/core/operations.py
  src/pymatgen/core/periodic_table.py
  src/pymatgen/core/tensors.py
  src/pymatgen/core/trajectory.py
  src/pymatgen/core/xcfunc.py
  src/pymatgen/electronic_structure/bandstructure.py
  src/pymatgen/electronic_structure/cohp.py
  src/pymatgen/electronic_structure/dos.py
  src/pymatgen/entries/compatibility.py
  src/pymatgen/io/abinit/abiobjects.py
  src/pymatgen/io/abinit/abitimer.py
  src/pymatgen/io/abinit/inputs.py
  src/pymatgen/io/abinit/netcdf.py
  src/pymatgen/io/abinit/pseudos.py
  src/pymatgen/io/aims/inputs.py
  src/pymatgen/io/cif.py
  src/pymatgen/io/common.py
  src/pymatgen/io/cp2k/inputs.py
  src/pymatgen/io/cp2k/sets.py
  src/pymatgen/io/cp2k/utils.py
  src/pymatgen/io/exciting/inputs.py
  src/pymatgen/io/feff/inputs.py
  src/pymatgen/io/gaussian.py
  src/pymatgen/io/lammps/data.py
  src/pymatgen/io/lammps/outputs.py
  src/pymatgen/io/lammps/utils.py
  src/pymatgen/io/lobster/lobsterenv.py
  src/pymatgen/io/lobster/outputs.py
  src/pymatgen/io/packmol.py
  src/pymatgen/io/vasp/outputs.py
  src/pymatgen/io/vasp/sets.py
  src/pymatgen/phonon/bandstructure.py
  src/pymatgen/phonon/gruneisen.py
  src/pymatgen/phonon/plotter.py
  src/pymatgen/symmetry/groups.py
  src/pymatgen/transformations/advanced_transformations.py
  src/pymatgen/util/coord.py
  src/pymatgen/util/testing/__init__.py
  tests/analysis/diffraction/test_xrd.py
  tests/core/test_lattice.py
  tests/io/vasp/test_inputs.py
Labels: linting, ux
